.main {
  padding: 10px;
  h5 {
    margin: 40px 0 0;
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  overflow: auto;
}

.main::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.modal-content {
  border-radius: 20px !important;
}

.about {
  background: url(../../../assets/images/ccs-logo.jpg) no-repeat center center /
    cover;
  height: 400px;
}

.developers li {
  display: block;
  width: fit-content;
  border-bottom: 3px solid #3c070670;
}
.developers {
  padding-top: 80px;
}

.copyright {
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 10px;
}
