<div class="main bg-dark">
  <div class="card ">
    <div class="card-header bg-danger pt-4"></div>
    <div class="card-body bg-dark pt-3 pb-2">
      <img [src]="user.image" alt="" class="profile-pic" />
      <h5 class="text-center text-light">
        {{ user.name.first }} {{ user.name.last }}
      </h5>
      <h6 class="text-center text-secondary text-capitalize">
        {{ user.role }}
      </h6>
    </div>
  </div>

  <div class="card mt-2" *ngIf="selectedClass.name.trim() !== ''">
    <button
      type="button"
      class="list-group-item list-group-item-action bg-dark"
      (click)="resetClass()"
      [routerLink]="['/dashboard']"
      routerLinkActive="router-link-active"
    >
      <i [class]="'icon ion-md-school mr-3 text-' + selectedClass.color"></i
      ><span class="text-light">Dashboard</span>
    </button>
  </div>

  <div class="card mt-2" *ngIf="selectedClass.name.trim() !== ''">
    <div class="card-body bg-dark p-0">
      <div class="list-group bg-dark">
        <button
          type="button"
          class="list-group-item list-group-item-action bg-dark"
          [routerLink]="['/dashboard']"
          routerLinkActive="router-link-active"
        >
          <i
            [class]="'icon ion-md-bookmarks mr-3 text-' + selectedClass.color"
          ></i
          ><span class="text-light">{{ selectedClass.name }}</span>
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action bg-dark"
          [routerLink]="['/students']"
          routerLinkActive="router-link-active"
        >
          <i
            [class]="'icon ion-ios-contacts mr-3 text-' + selectedClass.color"
          ></i
          ><span class="text-light">Students</span>
        </button>
        <!-- <button
          type="button"
          class="list-group-item list-group-item-action bg-dark"
          [routerLink]="['/activities']"
          routerLinkActive="router-link-active"
        >
          <i [class]="'icon ion-ios-paper mr-3 text-' + selectedClass.color"></i
          ><span class="text-light">Activities</span>
        </button> -->
        <div class="list-group bg-dark">
          <a
            href="#activities"
            data-toggle="collapse"
            aria-expanded="false"
            class="list-group-item list-group-item-action bg-dark text-light dropdown-toggle"
            ><i
              [class]="'icon ion-ios-paper mr-3 text-' + selectedClass.color"
            ></i>
            Activities
          </a>
          <ul class="collapse list-unstyled m-0" id="activities">
            <li>
              <button
                type="button"
                class="list-group-item list-group-item-action bg-dark"
                [routerLink]="['/activities/quiz']"
                routerLinkActive="router-link-active"
              >
                <i
                  [class]="
                    'icon ion-ios-create mx-3 text-' + selectedClass.color
                  "
                ></i
                ><span class="text-light">Quiz</span>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="list-group-item list-group-item-action bg-dark"
                [routerLink]="['/activities/exams']"
                routerLinkActive="router-link-active"
              >
                <i
                  [class]="
                    'icon ion-ios-journal mx-3 text-' + selectedClass.color
                  "
                ></i
                ><span class="text-light">Exams</span>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="list-group-item list-group-item-action bg-dark"
                [routerLink]="['/create-activities']"
                routerLinkActive="router-link-active"
              >
                <i class="icon ion-md-add mx-3 text-light"></i
                ><span class="text-light">Create</span>
              </button>
            </li>
          </ul>
        </div>

        <button
          type="button"
          class="list-group-item list-group-item-action bg-dark"
          [routerLink]="['/library']"
          routerLinkActive="router-link-active"
        >
          <i
            [class]="'icon ion-ios-bookmarks mr-3 text-' + selectedClass.color"
          ></i
          ><span class="text-light">Libraries</span>
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action bg-dark"
          [routerLink]="['/grades']"
          routerLinkActive="router-link-active"
        >
          <i [class]="'icon ion-md-pie mr-3 text-' + selectedClass.color"></i
          ><span class="text-light">Grades</span>
        </button>
      </div>
    </div>
  </div>

  <div class="card mt-2" *ngIf="selectedClass.name.trim() === ''">
    <div class="card-body bg-dark p-0">
      <div class="list-group bg-dark">
        <a
          href="#classes"
          data-toggle="collapse"
          aria-expanded="false"
          class="list-group-item list-group-item-action bg-dark text-light dropdown-toggle"
          ><i class="icon ion-md-bookmarks mr-3"></i> Classes
        </a>
        <ul class="collapse list-unstyled" id="classes">
          <li *ngFor="let class of classList">
            <button
              type="button"
              class="list-group-item list-group-item-action bg-dark"
              [routerLink]="['/dashboard']"
              routerLinkActive="router-link-active"
              (click)="setSelectedClass(class)"
            >
              <i
                class="icon ion-md-bookmark mr-3"
                [class]="'icon ion-md-bookmark mr-3 text-' + class.color"
              ></i
              ><span class="text-light">{{ class.name }}</span>
            </button>
          </li>
        </ul>
        <button
          type="button"
          class="list-group-item list-group-item-action bg-dark"
          (click)="openModal(addClassModal)"
        >
          <i class="icon ion-md-add text-light mr-3"></i
          ><span class="text-light">Add Class</span>
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action bg-dark"
        >
          <i class="icon ion-ios-cog text-light mr-3"></i
          ><span class="text-light">Manage Class</span>
        </button>
      </div>
    </div>
  </div>

  <div class="card mt-2" *ngIf="selectedClass.name.trim() === ''">
    <div class="card-body bg-dark p-0">
      <div class="list-group bg-dark">
        <button
          type="button"
          class="list-group-item list-group-item-action bg-dark"
          [routerLink]="['/profile']"
          routerLinkActive="router-link-active"
        >
          <i class="icon ion-ios-contact text-light mr-3"></i
          ><span class="text-light">Profile</span>
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action bg-dark"
        >
          <i class="icon ion-md-chatboxes text-light mr-3"></i
          ><span class="text-light">Messages</span>
        </button>

        <button
          type="button"
          class="list-group-item list-group-item-action bg-dark"
          (click)="openModal(aboutModal)"
        >
          <i class="icon ion-md-information-circle-outline text-light mr-3"></i
          ><span class="text-light">About</span>
        </button>
      </div>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-body bg-dark p-0">
      <div class="list-group bg-dark">
        <button
          type="button"
          class="list-group-item list-group-item-action bg-dark"
          (click)="openLogoutModal(logoutModal)"
        >
          <i class="icon ion-md-log-out text-light mr-3"></i
          ><span class="text-light">Logout</span>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #addClassModal let-c="close" let-d="dismiss">
  <div class="modal-header bg-dark">
    <h4 class="modal-title text-light">Add Class</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true" class="text-light">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Class name:</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="newClassname" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Description:</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="newDescription" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" for="inputColors">Class Color:</span>
      </div>
      <select
        [class]="
          newColor != 'yellow'
            ? 'custom-select text-light bg-' + newColor
            : 'custom-select text-dark bg-' + newColor
        "
        id="inputColors"
        [(ngModel)]="newColor"
      >
        <option selected>Choose...</option>
        <option value="red">Red</option>
        <option value="orange">Orange</option>
        <option value="yellow">Yellow</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="grey">Grey</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addNewClass()">
      Save
    </button>
  </div>
</ng-template>

<ng-template #aboutModal let-c="close" let-d="dismiss">
  <div class="modal-body bg-dark about">
    <ul class="list-unstyled ml-5  text-light developers">
      <li class="mb-3">Developers:</li>
      <li>Anthony Veloria</li>
      <li>Hiroshi Cruz</li>
      <li>Shaina Masinahon</li>
    </ul>
    <div class="copyright text-light">
      ALL RIGHTS RESERVE | COPYRIGHT &copy; 2019 TRIMEX COLLEGES
    </div>
  </div>
</ng-template>

<ng-template #logoutModal let-modal>
  <div class="modal-header">Confirm</div>
  <div class="modal-body">
    Are you sure you want to logout?
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary m-2" (click)="modal.dismiss()">
      Cancel
    </button>
    <button class="btn btn-danger mx-2" (click)="logOut()">Logout</button>
  </div>
</ng-template>
<ngx-spinner
  bdOpacity="0.5"
  bdColor="rgba(51,51,51,0.6)"
  size="default"
  color="#fff"
  type="ball-pulse-sync"
  [fullScreen]="true"
>
</ngx-spinner>
