<div
  class="main bg-white"
  *ngIf="user.role === 'instructor' || user.role === 'student'"
>
  <!-- Profile Picture -->

  <div class="card side-header">
    <div class="pt-5 pb-2">
      <img [src]="user.image" alt="" class="profile-pic" />
      <h5 class="text-left text-dark pl-3 pt-4">
        {{ user.name.first }} {{ user.name.last }}
      </h5>
      <h6 class="text-left pl-3 text-dark text-capitalize">
        {{ user.role == 'instructor' ? user.role : user.student_number }}
      </h6>
      <a
      class="text-dark float-right pr-2 profile-link"
      [routerLink]="['/profile']"
      routerLinkActive="router-link-active"
      >View Profile</a>
    </div>
  </div>
  <button
    type="button"
    class="list-group-item list-group-item-action"
    [routerLink]="['/dashboard']"
    routerLinkActive="router-link-active"
  >
    <i class="icon ion-ios-home  mr-3"></i
    ><span class="">Dashboard</span>
  </button>
  <div class="card mt-2" *ngIf="selectedClass.name.trim() !== ''">
    <button
      type="button"
      class="list-group-item list-group-item-action"
      (click)="resetClass()"
      [routerLink]="['/dashboard']"
      routerLinkActive="router-link-active"
    >
      <i class="icon ion-md-people mr-3 "></i
      ><span class="">Classes</span>
    </button>
  </div>

  <!-- Dashboard Button -->

  <div class="card mt-2" *ngIf="selectedClass.name.trim() !== ''">
    <button
      type="button"
      class="list-group-item list-group-item-action"
      [routerLink]="['/view-class']"
      routerLinkActive="router-link-active"
    >
      <div class="row">
        <div class="col-md-2">
          <i
            [class]="'icon ion-md-people mr-3 text-' + selectedClass.color"
          ></i>
        </div>
        <div class="col-md-10">
          <span class="">{{ selectedClass.name }}</span>
        </div>
      </div>
    </button>
  </div>

  <!-- SELECTED CLASS -->

  <div
    class="card mt-2"
    *ngIf="selectedClass.name.trim() !== '' && user.role == 'instructor'"
  >
    <div class="card-body p-0">
      <div class="list-group">
        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['/dashboard']"
          routerLinkActive="router-link-active"
        >
          <i [class]="'icon ion-md-school mr-3 text-' + selectedClass.color"></i
          ><span class="">Dashboard</span>
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['/students']"
          routerLinkActive="router-link-active"
        >
          <i
            [class]="'icon ion-ios-contacts mr-3 text-' + selectedClass.color"
          ></i
          ><span class="">Students</span>
        </button>

        <div class="list-group">
          <a
            href="#activities"
            data-toggle="collapse"
            aria-expanded="false"
            class="list-group-item list-group-item-action  dropdown-toggle"
            ><i
              [class]="'icon ion-ios-paper mr-3 text-' + selectedClass.color"
            ></i>
            Activities
          </a>
          <ul class="collapse list-unstyled m-0" id="activities">
            <li>
              <button
                type="button"
                class="list-group-item list-group-item-action"
                [routerLink]="['/activities/quiz']"
                routerLinkActive="router-link-active"
              >
                <i
                  [class]="
                    'icon ion-ios-create mx-3 text-' + selectedClass.color
                  "
                ></i
                ><span class="">Quiz</span>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="list-group-item list-group-item-action"
                [routerLink]="['/activities/exams']"
                routerLinkActive="router-link-active"
              >
                <i
                  [class]="
                    'icon ion-ios-journal mx-3 text-' + selectedClass.color
                  "
                ></i
                ><span class="">Exams</span>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="list-group-item list-group-item-action"
                [routerLink]="['/create-activities']"
                routerLinkActive="router-link-active"
              >
                <i class="icon ion-md-add mx-3 "></i
                ><span class="">Create</span>
              </button>
            </li>
          </ul>
        </div>

        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['/library']"
          routerLinkActive="router-link-active"
        >
          <i
            [class]="'icon ion-ios-peoples mr-3 text-' + selectedClass.color"
          ></i
          ><span class="">Libraries</span>
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['/grades']"
          routerLinkActive="router-link-active"
        >
          <i [class]="'icon ion-md-pie mr-3 text-' + selectedClass.color"></i
          ><span class="">Grades</span>
        </button>
      </div>
    </div>
  </div>

  <div
    class="card mt-2"
    *ngIf="selectedClass.name.trim() !== '' && user.role == 'student'"
  >
    <div class="card-body p-0">
      <div class="list-group">
        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['/dashboard']"
          routerLinkActive="router-link-active"
        >
          <i [class]="'icon ion-md-school mr-3 text-' + selectedClass.color"></i
          ><span class="">Dashboard</span>
        </button>

        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['/student-activities']"
          routerLinkActive="router-link-active"
        >
          <i
            [class]="'icon ion-ios-paper mr-3 text-' + selectedClass.color"
          ></i>
          <span class="">My Activities</span>
        </button>

        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['/view-student-grade']"
          routerLinkActive="router-link-active"
        >
          <i [class]="'icon ion-md-pie mr-3 text-' + selectedClass.color"></i
          ><span class="">My Grades</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Class List -->

  <div class="card mt-2" *ngIf="selectedClass.name.trim() === ''">
    <div class="card-body p-0">
      <div class="list-group">
        <a
          href="#classes"
          data-toggle="collapse"
          aria-expanded="false"
          class="list-group-item list-group-item-action  dropdown-toggle"
          ><i class="icon ion-md-people mr-3"></i
          >{{ user.role == 'instructor' ? 'Classes' : 'My Classes' }}
        </a>
        <ul class="collapse list-unstyled" id="classes">
          <li *ngIf="classList?.length == 0">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-10 mt-2">
                <span class="text-secondary">No class added</span>
              </div>
            </div>
          </li>
          <li *ngFor="let class of classList">
            <button
              type="button"
              class="list-group-item list-group-item-action"
              routerLinkActive="router-link-active"
              (click)="setSelectedClass(class)"
            >
              <div class="row">
                <div class="col-md-2">
                  <i
                    class="icon ion-md-people mr-3"
                    [class]="'icon ion-md-people mr-3 text-' + class.color"
                  ></i>
                </div>
                <div class="col-md-10">
                  <span class="">{{ class.name }}</span>
                </div>
              </div>
            </button>
          </li>
        </ul>
        <button
          type="button"
          class="list-group-item list-group-item-action"
          (click)="openSmModal(addClassModal)"
        >
          <i class="icon ion-md-add  mr-3"></i
          ><span class="">{{
            user.role == 'instructor' ? 'Add Class' : 'Join Class'
          }}</span>
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['/manage-class']"
          routerLinkActive="router-link-active"
          *ngIf="user.role == 'instructor'"
        >
          <i class="icon ion-md-stats  mr-3"></i
          ><span class="">Manage Class</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Profile | Messages | About -->

  <div class="card mt-2" *ngIf="selectedClass.name.trim() === ''">
    <div class="card-body p-0">
      <div class="list-group">
        <!-- <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['/messages']"
          routerLinkActive="router-link-active"
          *ngIf="user.role === 'instructor'"
        >
          <i class="icon ion-md-chatboxes  mr-3"></i
          ><span class="">Messages</span>
        </button> -->

        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['/student-parents']"
          routerLinkActive="router-link-active"
          *ngIf="user.role === 'student'"
        >
          <i class="icon ion-ios-contacts  mr-3"></i
          ><span class="">Parents</span>
        </button>

        <!-- <button
          type="button"
          class="list-group-item list-group-item-action"
          (click)="openModal(aboutModal)"
        >
          <i class="icon ion-md-information-circle-outline  mr-3"></i
          ><span class="">About</span>
        </button> -->
      </div>
    </div>
  </div>

  <!-- Logout -->

  <div class="card mt-2">
    <div class="card-body p-0">
      <div class="list-group">
        <button
          type="button"
          class="list-group-item list-group-item-action"
          (click)="logOut()"
        >
          <i class="icon ion-md-log-out  mr-3"></i
          ><span class="">Logout</span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Admin -->
<div class="main" *ngIf="user.role === 'admin'">
  <div class="card ">
    <div class="card-header bg-danger pt-4"></div>
    <div class="card-body pt-3 pb-2">
      <img [src]="user.image" alt="" class="profile-pic" />
      <h5 class="text-center ">
        {{ user.name.first }} {{ user.name.last }}
      </h5>
      <h6 class="text-center text-secondary text-capitalize mt-1">
        {{ user.role }}
      </h6>
    </div>
  </div>

  <!-- Dashboard -->
  <!-- <div class="card mt-2">
    <button
      type="button"
      class="list-group-item list-group-item-action"
      [routerLink]="['/dashboard']"
      routerLinkActive="router-link-active"
    >
      <i class="icon ion-md-school mr-3 "></i
      ><span class="">Dashboard</span>
    </button>
  </div> -->

  <div class="card mt-2" *ngIf="selectedClass.name.trim() === ''">
    <div class="card-body p-0">
      <div class="list-group">
        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['/manage-instructors']"
          routerLinkActive="router-link-active"
        >
          <i class="icon ion-md-contact  mr-3"></i
          ><span class="">Instructors</span>
        </button>
        <!-- <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['/manage-students']"
          routerLinkActive="router-link-active"
        >
          <i class="icon ion-md-contacts  mr-3"></i
          ><span class="">Student</span>
        </button> -->
      </div>
    </div>
  </div>

  <!-- Profile | Messages | About -->
  <!-- Logout -->

  <div class="card mt-2">
    <div class="card-body p-0">
      <div class="list-group">
        <button
          type="button"
          class="list-group-item list-group-item-action"
          (click)="logOut()"
        >
          <i class="icon ion-md-log-out  mr-3"></i
          ><span class="">Logout</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Parent -->
<div class="main" *ngIf="user.role === 'parent'">
  <div class="card ">
    <div class="card-header bg-danger pt-4"></div>
    <div class="card-body pt-3 pb-2">
      <img [src]="user.image" alt="" class="profile-pic" />
      <h5 class="text-center ">
        {{ user.name.first }} {{ user.name.last }}
      </h5>
      <h6 class="text-center text-secondary text-capitalize mt-1">
        {{ user.role }}
      </h6>
    </div>
  </div>

  <div class="card mt-2" *ngIf="selectedClass.name.trim() === ''">
    <div class="card-body p-0">
      <div class="list-group">
        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['/view-my-student']"
          routerLinkActive="router-link-active"
          *ngIf="!loading"
        >
          <i class="icon ion-ios-contacts  mr-3"></i
          ><span class=""
            >{{ student?.name.first }} {{ student?.name.last }}</span
          >
        </button>
      </div>
    </div>
  </div>

  <!-- Logout -->

  <div class="card mt-2">
    <div class="card-body p-0">
      <div class="list-group">
        <button
          type="button"
          class="list-group-item list-group-item-action"
          (click)="logOut()"
        >
          <i class="icon ion-md-log-out  mr-3"></i
          ><span class="">Logout</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->

<ng-template #addClassModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title ">
      {{ user.role == 'instructor' ? 'Add Class' : 'Join Class' }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true" class="">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="user.role == 'instructor'">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">Class name:</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="newClassname" />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">Description:</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="newDescription" />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" for="inputColors">Class Color:</span>
        </div>
        <select
          [class]="
            newColor != 'yellow'
              ? 'custom-select  bg-' + newColor
              : 'custom-select text-dark bg-' + newColor
          "
          id="inputColors"
          [(ngModel)]="newColor"
        >
          <option class="text-dark" selected>Choose...</option>
          <option class="text-dark" value="red">Red</option>
          <option class="text-dark" value="orange">Orange</option>
          <option class="text-dark" value="yellow">Yellow</option>
          <option class="text-dark" value="blue">Blue</option>
          <option class="text-dark" value="green">Green</option>
          <option class="text-dark" value="grey">Grey</option>
        </select>
      </div>
    </div>
    <div *ngIf="user.role == 'student'">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">Class code:</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="newClassCode" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="user.role == 'instructor' ? addNewClass() : joinClass()"
    >
      Save
    </button>
  </div>
</ng-template>

<ng-template #aboutModal let-c="close" let-d="dismiss">
  <div class="modal-body about">
    <ul class="list-unstyled ml-5   developers">
      <li class="mb-3">Developers:</li>
      <li>Anthony Veloria</li>
      <li>Hiroshi Cruz</li>
      <li>Shaina Masinahon</li>
    </ul>
    <div class="copyright ">
      ALL RIGHTS RESERVE | COPYRIGHT &copy; 2019 TRIMEX COLLEGES
    </div>
  </div>
</ng-template>

<ng-template #logoutModal let-modal>
  <div class="modal-header ">Confirm</div>
  <div class="modal-body">
    Are you sure you want to logout?
  </div>
  <div class="modal-footer ">
    <button class="btn btn-dark m-2" (click)="modal.dismiss()">
      Cancel
    </button>
    <button class="btn btn-primary mx-2" (click)="logOut()">Logout</button>
  </div>
</ng-template>

<!-- Spinner -->

<ngx-spinner
  bdOpacity="0.5"
  bdColor="rgba(51,51,51,0.6)"
  size="default"
  color="#fff"
  type="ball-pulse-sync"
  [fullScreen]="true"
>
</ngx-spinner>
