<div class="chart mb-3 card">
  <div class="card-header bg-dark">
    <p class="text-center m-0 text-center text-light">Exam Pie Chart</p>
  </div>
  <div class="card-body">
    <canvas
      baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [colors]="pieChartColors"
      [legend]="pieChartLegend"
    >
    </canvas>
  </div>
</div>

<div class="card mb-3">
  <table class="table">
    <thead>
      <tr class="bg-dark">
        <th colspan="13" class="text-center text-light">Item Analysis</th>
      </tr>
      <tr>
        <th>#</th>
        <th class="text-center">Correct Students</th>
        <th class="text-center">Incorrect Students</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of activity.questions">
        <td>{{ question.number }}</td>
        <td class="text-center">{{ getCorrectPercent(question) }}%</td>
        <td class="text-center">{{ getInCorrectPercent(question) }}%</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="card mb-3">
  <table class="table">
    <thead>
      <tr class="bg-dark">
        <th colspan="13" class="text-center text-light">Question List</th>
      </tr>
      <tr>
        <th>#</th>
        <th>Type</th>
        <th>Question</th>
        <th>Answers</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of activity.questions">
        <td scope="row">{{ question?.number }}</td>
        <td>
          {{
            question?.type == 'mc'
              ? 'Multiple Question'
              : question.type == 'sa'
              ? 'Short Answer'
              : 'True or False'
          }}
        </td>
        <td>
          {{ question?.text }}
        </td>
        <td>
          <button
            class="btn btn-primary btn-sm w-100"
            (click)="openModal(answersModal, question)"
          >
            View
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #answersModal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div [ngSwitch]="selectedQuestion.type">
      <div class="mc-options" *ngSwitchCase="'mc'">
        <div
          class="input-group input-group-sm mb-3"
          *ngFor="let options of selectedQuestion.options"
        >
          <div class="input-group-prepend">
            <span
              class="input-group-text"
              [ngClass]="{ 'bg-success text-light': options.isCorrect }"
              >{{ options.key }}</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            readonly
            [value]="options.value"
            [ngClass]="{ 'bg-success text-light': options.isCorrect }"
          />
        </div>
      </div>
      <div class="tof-options" *ngSwitchCase="'tof'">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text ">Correct Answer</span>
          </div>
          <input
            type="text"
            class="form-control text-capitalize bg-success text-light"
            readonly
            [value]="selectedQuestion.options[0].value"
          />
        </div>
      </div>
      <div class="sa-answer" *ngSwitchCase="'sa'">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text ">Correct Answer</span>
          </div>
          <input
            type="text"
            class="form-control text-capitalize bg-success text-light"
            readonly
            [value]="selectedQuestion.options[0].value"
          />
        </div>
      </div>
    </div>
  </div>
</ng-template>
