<div class="row">
  <div class="col-md-4">
    <div class="chart mb-3 card">
    <div class="card-header bg-light">
      <p class="text-center m-0 text-center text-dark">Overview</p>
    </div>
    <div class="card-body">
      <canvas
        baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [colors]="pieChartColors"
        [legend]="pieChartLegend"
      >
      </canvas>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr class="bg-light">
        <th colspan="13" class="text-center text-dark">Question Statistics</th>
      </tr>
      <tr>
        <th>#</th>
        <th class="text-center">Correct</th>
        <th class="text-center">Incorrect</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of activity.questions">
        <td>{{ question.number }}</td>
        <td class="text-center">
          {{ getCorrectCount(question) }} - {{ getCorrectPercent(question) }}%
        </td>
        <td class="text-center">
          {{ getInCorrectCount(question) }} -
          {{ getInCorrectPercent(question) }}%
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-8">
  <table class="table">
    <thead>
      <tr class="bg-light">
        <th colspan="13" class="text-center text-dark">Student List</th>
      </tr>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Score</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let submit of submits">
        <td>{{ submit.student.student_number }}</td>
        <td>{{ submit.student.name.first }} {{ submit.student.name.last }}</td>
        <td>{{ submit.score }}</td>
        <td>
          <button class="btn btn-sm btn-green" (click)="viewActivity(submit)">
            View
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<ng-template #answersModal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div [ngSwitch]="selectedQuestion.type">
      <div class="mc-options" *ngSwitchCase="'mc'">
        <div
          class="input-group input-group-sm mb-3"
          *ngFor="let options of selectedQuestion.options"
        >
          <div class="input-group-prepend">
            <span
              class="input-group-text"
              [ngClass]="{ 'bg-success text-dark': options.isCorrect }"
              >{{ options.key }}</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            readonly
            [value]="options.value"
            [ngClass]="{ 'bg-success text-dark': options.isCorrect }"
          />
        </div>
      </div>
      <div class="tof-options" *ngSwitchCase="'tof'">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text ">Correct Answer</span>
          </div>
          <input
            type="text"
            class="form-control text-capitalize bg-success text-dark"
            readonly
            [value]="selectedQuestion.options[0].value"
          />
        </div>
      </div>
      <div class="sa-answer" *ngSwitchCase="'sa'">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text ">Correct Answer</span>
          </div>
          <input
            type="text"
            class="form-control text-capitalize bg-success text-dark"
            readonly
            [value]="selectedQuestion.options[0].value"
          />
        </div>
      </div>
    </div>
  </div>
</ng-template>
