<app-top-nav title="Students"> </app-top-nav>
<app-side-nav> </app-side-nav>
<div class="main">
  <div class="row">
    <div class="col-md-8">
      <div
        class="card bg-light text-center mb-2 p-3"
        *ngIf="!loading && members.length == 0"
      >
        No Student in this Class
      </div>

      <div class="card p-3 btn text-left mb-2 bg-light" *ngIf="loading">
        <div class="media">
          <div class="mr-3 profile-img overflow-auto">
            <ngx-skeleton-loader
              animated="true"
              count="1"
              [theme]="{
                'border-radius': '0',
                height: '90px',
                width: '100%'
              }"
              appearance="circle"
            >
            </ngx-skeleton-loader>
          </div>
          <div class="media-body pt-2">
            <ngx-skeleton-loader animated="true" count="1" appearance="line">
            </ngx-skeleton-loader
            ><br />
            <ngx-skeleton-loader animated="true" count="1" appearance="line">
            </ngx-skeleton-loader>
          </div>
        </div>
      </div>

      <div
        class="card p-3 btn text-left mb-2 bg-light"
        *ngFor="let member of members"
      >
        <div class="media">
          <div class="mr-3 profile-img rounded-circle">
            <img
              [src]="member.image"
              class="mr-3 profile-img rounded-circle"
              alt="..."
            />
          </div>
          <div class="media-body">
            <h5 class="mt-0">
              {{ member.name?.first }} {{ member.name?.last }}
            </h5>
            <p>
              {{ member.student_number }}
              {{ member.course ? '| ' + member.course : '' }}
            </p>
            <i class="fa fa-id-badge stud-logo"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- Notif -->
    <div class="col-md-4">
      <div class="card bg-primary">
        <div class="card-header text-dark">
          <i class="fa fa-bell mr-2"></i>Notification
        </div>
        <div class="card-body p-0">
          <ul class="list-group">
            <!-- <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li> -->
            <li class="list-group-item pl-3 text-secondary">
              No New Notification
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
