.main {
  margin-left: 250px;
  padding: 80px 20px;
}

.profile-img {
  width: 70px;
}

.stud-logo {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
}
