<app-top-nav title="Manage Instructors"> </app-top-nav>
<app-side-nav> </app-side-nav>
<div class="main">
  <div class="row">
    <div class="col-md-8">
      <input
        type="text"
        name=""
        id=""
        class="form-control mb-2 bg-dark text-light"
        placeholder="Search instructor..."
        [(ngModel)]="instructorFilter"
      />
      <div
        class="card bg-dark mb-2 instructor"
        [routerLink]="['/view-instructor-profile']"
        routerLinkActive="router-link-active"
        *ngFor="let instructor of instructorList | filter: instructorFilter"
        (click)="setSelectedInstructor(instructor)"
      >
        <div class="card-header bg-secondary p-2 pt-3">
          <h5 class="text-capitalize text-light user-name">
            {{ instructor.name.first }}
            {{ instructor.name.last }}
            ({{ instructor.status == 1 ? 'Active' : 'Inactive' }})
          </h5>
        </div>
        <div class="card-body bg-dark p-2 pb-4">
          <img
            [src]="instructor.image"
            alt=""
            class="profile-pic border border-dark"
          />
          <h6 class="text-secondary user-email">
            instructor@gmail.com
          </h6>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <ul class="list-group" *ngIf="!loading">
        <li class="list-group-item bg-dark text-light">Requests</li>
        <li class="list-group-item" *ngIf="!loading && requestList.length == 0">
          No account request
        </li>
        <li class="list-group-item" *ngFor="let instructor of requestList">
          <div class="row">
            <div class="col">
              <i class="fa fa-user-circle-o"></i>
              <span class="text-capitalize">
                {{ instructor.name.first }}
                {{ instructor.name.last }}
              </span>
            </div>
            <div class="col text-right">
              <button class="btn btn-sm btn-dark" (click)="approve(instructor)">
                Approve
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
