.main {
  margin-left: 250px;
  padding: 80px 20px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -10px;
  left: 25px;
  transform: translateX(-50%);
}
.pending-pic {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 30px;
  left: 45px;
  transform: translateX(-50%);
}
.user-name,
.user-email {
  margin: 0 80px;
}
.user-name {
  font-size:24px;
}
.instructor {
  cursor: pointer;
}

.instructor:hover {
  .card-header{
    background-color: gray !important;
  }
}
