<app-top-nav title="Profile"> </app-top-nav>
<app-side-nav> </app-side-nav>
<div class="main">
  <div class="row">
    <div class="col-md-7">
      <div class="card bg-primary mb-2 instructor">
        <div class="card-header bg-secondary p-2 pt-3">
          <h5 class="text-capitalize text-dark user-name">
            {{ instructor?.name.first }}
            {{ instructor?.name.last }}
          </h5>
        </div>
        <div class="card-body bg-light p-2 pb-4">
          <img
            [src]="instructor.image"
            alt=""
            class="profile-pic border border-dark"
          />
          <h6 class="text-secondary user-email">
            {{ instructor.email }}
          </h6>
        </div>
      </div>

      <select
        class="custom-select w-100 mb-2 text-center instructor bg-primary text-dark border-0"
        [(ngModel)]="profile.status"
        (change)="setStatus()"
      >
        <option value="1">Active</option>
        <option value="2">Inactive</option>
      </select>

      <hr />
      <ul class="list-group" *ngIf="!onClassView">
        <li class="list-group-item bg-primary text-dark">Class List</li>
        <li class="list-group-item p-2">
          <input
            type="text"
            class="form-control"
            placeholder="Search Class..."
            [(ngModel)]="searchClass"
          />
        </li>
        <li class="list-group-item text-center" *ngIf="loading">
          <i class="fa fa-spinner"></i>
        </li>
        <li class="list-group-item" *ngIf="!loading && classList.length == 0">
          <i class="fa fa-bookmark"></i> No Class added
        </li>

        <li
          class="list-group-item text-capitalize class-li"
          *ngFor="let list of classList | filter: searchClass"
          (click)="viewClass(list)"
        >
          <i [class]="'fa fa-bookmark text-' + list.color"></i>
          {{ list.name }} | {{ list.code }}
          <p class="p-0">Description: {{ list.description }}</p>
        </li>
      </ul>

      <div *ngIf="onClassView">
        <button class="btn btn-dark w-100 mb-2" (click)="onClassView = false">
          <i class="fa fa-chevron-left" aria-hidden="true"></i> Back To Classes
        </button>

        <app-view-instructor-classes></app-view-instructor-classes>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card bg-primary mb-2 account">
        <div class="card-header bg-secondary px-3 px-2 text-dark text-center">
          <span>Profile <i class="fa fa-edit text-dark"></i></span>
        </div>
        <div class="card-body bg-light p-2 pb-4">
          <div class=" form-row mb-3">
            <div class="col-md-5">
              <label class="text-dark">First Name</label>
              <input
                type="text"
                class="form-control text-catitalize"
                [(ngModel)]="profile.name.first"
              />
            </div>
            <div class="col-md-5">
              <label class="text-dark">Last Name</label>
              <input
                type="text"
                class="form-control text-catitalize"
                [(ngModel)]="profile.name.last"
              />
            </div>
            <div class="col-md-2">
              <label class="text-dark">M.I.</label>
              <input
                type="text"
                class="form-control text-catitalize"
                [(ngModel)]="profile.name.mi"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="text-dark">Adress</label>
            <textarea
              [(ngModel)]="profile.address"
              name=""
              id=""
              cols="30"
              rows="2"
              class="form-control"
            ></textarea>
          </div>
          <div class="form-group form-row">
            <div class="col-md-6">
              <label class="text-dark">Contact #</label>
              <input
                type="text"
                class="form-control text-catitalize"
                [(ngModel)]="profile.mobile"
              />
            </div>
            <div class="col-md-6">
              <label class="text-dark">Gender</label>
              <select id="" class="custom-select" [(ngModel)]="profile.gender">
                <option value="male">Male</option>
                <option value="male">Female</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-dark w-100 instructor" (click)="updateProfile()">
        Update
      </button>
    </div>
  </div>
</div>
