<app-top-nav title="Profile"> </app-top-nav>
<app-side-nav> </app-side-nav>
<div class="main">
  <div class="row">
    <div class="col-md-7">
      <div class="card bg-dark mb-2 instructor">
        <div class="card-header bg-secondary p-2 pt-3">
          <h5 class="text-light user-name">
            Mr Instructor
          </h5>
        </div>
        <div class="card-body bg-dark p-2 pb-4">
          <img
            src="assets/images/profile.jpg"
            alt=""
            class="profile-pic border border-dark"
          />
          <h6 class="text-secondary user-email">
            instructor@gmail.com
          </h6>
        </div>
      </div>

      <select
        class="custom-select w-100 mb-2 text-center instructor bg-dark text-light border-0"
        id=""
      >
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
      </select>

      <hr />

      <div class="card bg-dark mb-2 account">
        <div class="card-header bg-secondary px-3 px-2 text-light text-center">
          <span>Account <i class="fa fa-edit text-light"></i></span>
        </div>
        <div class="card-body bg-dark p-2 pb-4">
          <div class=" form-row mb-3">
            <div class="col-md-5">
              <label class="text-light">First Name</label>
              <input type="text" class="form-control text-catitalize" />
            </div>
            <div class="col-md-5">
              <label class="text-light">Last Name</label>
              <input type="text" class="form-control text-catitalize" />
            </div>
            <div class="col-md-2">
              <label class="text-light">M.I.</label>
              <input type="text" class="form-control text-catitalize" />
            </div>
          </div>
          <div class="form-group">
            <label class="text-light">Adress</label>
            <textarea
              name=""
              id=""
              cols="30"
              rows="2"
              class="form-control"
            ></textarea>
          </div>
          <div class="form-group form-row">
            <div class="col-md-6">
              <label class="text-light">Contact #</label>
              <input type="text" class="form-control text-catitalize" />
            </div>
            <div class="col-md-6">
              <label class="text-light">Gender</label>
              <select id="" class="custom-select">
                <option value="male">Male</option>
                <option value="male">Female</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-dark w-100 instructor" (click)="updateProfile()">
        Update
      </button>
    </div>
    <div class="col-md-5">
      <ul class="list-group">
        <li class="list-group-item bg-dark text-light">Class List</li>
        <li class="list-group-item"><i class="fa fa-bookmark"></i> Class 1</li>
        <li class="list-group-item"><i class="fa fa-bookmark"></i> Class 2</li>
        <li class="list-group-item"><i class="fa fa-bookmark"></i> Class 3</li>
        <li class="list-group-item"><i class="fa fa-bookmark"></i> Class 4</li>
      </ul>
    </div>
  </div>
</div>
