<app-top-nav title="Dashboard"> </app-top-nav>
<app-side-nav> </app-side-nav>
<div class="main">
  <div class="row">
    <div class="col-md-8" *ngIf="selectedClass?.id != ''">
      <!-- Add post -->
      <div class="card bg-dark p-1 mb-2">
        <div class="card bg-light">
          <textarea [(ngModel)]="message" rows="3" class="w-100 p-2"></textarea>
          <div class="px-2">
            <div class="float-right">
              <input
                type="file"
                hidden
                #fileInput
                [readonly]="loading"
                (change)="addFileUpload(fileInput.files)"
              />
              <button
                class="btn btn-light"
                (click)="fileInput.click()"
                [disabled]="loading"
              >
                <i class="icon ion-md-attach"></i>
              </button>
              <button
                class="btn btn-sm btn-primary my-1"
                (click)="addPost()"
                [disabled]="loading"
              >
                Submit
              </button>
            </div>
            <div
              class="float-left mt-1 text-secondary"
              *ngIf="user.role == 'instructor'"
            >
              <select class="form-control-sm border-0" [(ngModel)]="postType">
                <option value="0">Post</option>
                <option value="1">Announcement</option>
                <option value="2">Assignment</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div
        class="d-flex w-100 upload-container p-2"
        *ngIf="fileUploads.length > 0"
      >
        <div
          class="position-relative pr-2"
          *ngFor="let file of fileUploads; let i = index"
        >
          <img [src]="file.url" alt="" class="upload-file" />
          <button
            class="remove-file-btn btn bg-danger btn-sm rounded-circle"
            (click)="removeFile(i)"
            [disabled]="loading"
          >
            <i class="fa fa-times text-light" aria-hidden="true"></i>
          </button>
          <div class="overflow-hidden">
            <span class="text-light file-name">{{ file.name }}</span>
          </div>
          <div class="progress-bar bg-transparent" *ngIf="file.uploading">
            <progress-bar
              [progress]="file.uploadPercent | async"
              [color]="'#488aff'"
            >
            </progress-bar>
          </div>
        </div>
      </div>
      <hr />

      <!-- Posts -->
      <div class="card mb-2 pt-2" *ngIf="postsList.length == 0">
        <h1 class="text-center">
          <i class="fa fa-bullhorn text-secondary" aria-hidden="true"></i>
        </h1>
        <h3 class="text-center text-secondary mb-0">
          No Posts or Activities Yet
        </h3>
        <p class="text-center text-secondary">
          Click POST to add new Announcement or Assignment
        </p>
      </div>
      <div class="card mb-2" *ngFor="let post of postsList">
        <div class="media m-2">
          <a class="pr-3" href="#">
            <img [src]="post.posted_by.image" alt="" width="50px" />
          </a>
          <div class="media-body">
            <strong class="text-primary"
              >{{ post.posted_by.name.first }} {{ post.posted_by.name.last }}
            </strong>

            {{
              post.type == 1
                ? "Posted an Announcement to "
                : post.type == 2
                ? "Posted an Assignement to "
                : post.type == 3
                ? "Posted an Activity to"
                : post.type == 4
                ? post.submit.activity.type == "quiz"
                  ? "Submitted a Quiz"
                  : "Submitted an Exam"
                : "Submitted a post to"
            }}
            <strong
              ><i
                [class]="'icon ion-ios-bookmark text-' + post.posted_to.color"
              ></i>
              {{ post.posted_to.name }}</strong
            >.
            <div class="text-muted smaller">
              {{
                convertToDate(post.date.created.seconds)
                  | date: "MMM dd yyyy hh:mm a"
              }}
            </div>

            <div class="card p-2 bg-light">
              <div>
                {{ post.type == 2 ? "Instruction: " : "" }} {{ post.message }}
              </div>
              <div *ngIf="post.attachments.length > 0">
                Attachments:
                <ul>
                  <li *ngFor="let item of post.attachments">
                    <a [href]="item.link" target="_blank">{{ item.name }}</a>
                  </li>
                </ul>
              </div>
              <div *ngIf="post.type == 3">
                <div class="text-capitalize">
                  Type: {{ post.activity.type }} | {{ post.activity.term }}
                </div>
                <div>Title: {{ post.activity.title }}</div>
                <div>Instruction: {{ post.activity.instruction }}</div>
                <div>
                  Deadline:
                  {{
                    convertToDate(post.activity.deadline.seconds)
                      | date: "MMM dd yyyy hh:mm a"
                  }}
                </div>
              </div>
              <div *ngIf="post.type == 4">
                <div class="text-capitalize">
                  Type: {{ post.submit.activity.type }} |
                  {{ post.submit.activity.term }}
                </div>
                <div>Title: {{ post.submit.activity.title }}</div>
                <div>Score: {{ post.submit.score }}</div>
                <div>
                  Date Submitted:
                  {{
                    convertToDate(post.submit.date.submitted.seconds)
                      | date: "MMM dd yyyy hh:mm a"
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8" *ngIf="selectedClass?.id == ''">
      <div class="card mb-2 pt-2" *ngIf="postsList.length == 0">
        <h1 class="text-center">
          <i class="icon ion-ios-bookmarks"></i>
        </h1>
        <h3 class="text-center text-secondary mb-0">
          No Class Selected
        </h3>
        <p class="text-center text-secondary">
          Click Classes to select or Add new Class
        </p>
      </div>
    </div>

    <!-- Notif -->
    <div class="col-md-4">
      <div class="card bg-dark">
        <div class="card-header text-light">
          <i class="fa fa-bell mr-2"></i>Notification
        </div>
        <div class="card-body p-0">
          <ul class="list-group">
            <!-- <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li> -->
            <li class="list-group-item pl-3 text-secondary">
              No New Notification
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<!-- Spinner -->

<ngx-spinner
  bdOpacity="0.5"
  bdColor="rgba(51,51,51,0.6)"
  size="default"
  color="#fff"
  type="ball-pulse-sync"
  [fullScreen]="true"
>
</ngx-spinner>
