<app-top-nav title="Dashboard"> </app-top-nav>
<app-side-nav> </app-side-nav>
<div class="main">
  <div class="row">
    <div class="col-md-12" *ngIf="selectedClass?.id != ''">
      <!-- Add post -->
      <div class="row">
        <div class="col-md-10">
          <div class="card p-1 mb-2">
            <div class="card">
              <textarea [(ngModel)]="message" rows="3" class="w-100 p-2"></textarea>
                <div class="row">
                  <div class="col-md-7"><div
                    class="mt-1 text-secondary"
                    *ngIf="user.role == 'instructor'"
                  >
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-outline-success active">
                        <input type="radio" [(ngModel)]="postType" value="0" checked>
                        <i class="fa fa-file mr-1"></i>Messages
                      </label>
                      <label class="btn btn-outline-success">
                        <input type="radio" [(ngModel)]="postType" value="1">
                        <i class="fa fa-calendar mr-1"></i>Announcement
                      </label>
                      <label class="btn btn-outline-success">
                        <input type="radio" [(ngModel)]="postType" value="2">
                        <i class="fa fa-briefcase mr-1"></i>Assignment
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 text-right mt-1">
                  <input
                  type="file"
                  hidden
                  #fileInput
                  [readonly]="loading"
                  (change)="addFileUpload(fileInput.files)"
                />
                <button
                  class="btn btn-outline-dark mr-2"
                  (click)="fileInput.click()"
                  [disabled]="loading"
                >
                  <i class="icon ion-md-attach"></i>
                  Attachment
                </button>
                  </div>
                  <div class="col-md-2 mt-1 pb-1">
                    <button
                      class="btn btn-info"
                      (click)="addPost()"
                      [disabled]="loading"
                    >
                      Post
                    </button></div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
        class="d-flex w-100 upload-container p-2"
        *ngIf="fileUploads.length > 0"
      >
        <div
          class="position-relative pr-2"
          *ngFor="let file of fileUploads; let i = index"
        >
          <img [src]="file.url" alt="" class="upload-file" />
          <button
            class="remove-file-btn btn bg-primary btn-sm rounded-circle"
            (click)="removeFile(i)"
            [disabled]="loading"
          >
            <i class="fa fa-times text-dark" aria-hidden="true"></i>
          </button>
          <div class="overflow-hidden">
            <span class="text-dark file-name">{{ file.name }}</span>
          </div>
          <div class="progress-bar bg-transparent" *ngIf="file.uploading">
            <progress-bar
              [progress]="file.uploadPercent | async"
              [color]="'#488aff'"
            >
            </progress-bar>
          </div>
        </div>
      </div>
        </div>
      </div>
      <hr />

      <!-- Posts -->
      <div class="card mb-2 pt-2" *ngIf="postsList.length == 0">
        <h1 class="text-center">
          <i class="fa fa-bullhorn text-primary" aria-hidden="true"></i>
        </h1>
        <h3 class="text-center text-secondary mb-0">
          No Messages or Activities Yet
        </h3>
        <p class="text-center text-primary">
          Post Messages, Announcement or Assignments
        </p>
      </div>
      <div class="card mb-2" *ngFor="let post of postsList">
        <div class="media m-2">
          <span class="pr-3" href="#">
            <img [src]="post.posted_by.image" class="rounded-circle border border-success" alt="" width="70px" />
          </span>
          <div class="media-body">
            <strong class="text-primary"
              >{{ post.posted_by.name.first }} {{ post.posted_by.name.last }}
            </strong><br/>
            {{
              post.type == 1
                ? "Announcement"
                : post.type == 2
                ? "Assignement"
                : post.type == 3
                ? "Activities"
                : post.type == 4
                ? post.submit.activity.type == "quiz"
                  ? "Posted a Quiz"
                  : "Posted an Exam"
                : "Messages"
            }}
            <div class="text-muted smaller float-right">
              {{
                convertToDate(post.date.created.seconds)
                  | date: "MMM dd yyyy hh:mm"
              }}
            </div>
            <div class="card p-2 border-0">
              <hr/>
              <div>
                {{ post.message }}
              </div>
              <div *ngIf="post.attachments.length > 0">
                Attachments:
                <ul>
                  <li *ngFor="let item of post.attachments">
                    <a [href]="item.link" target="_blank">{{ item.name }}</a>
                  </li>
                </ul>
              </div>
              <div *ngIf="post.type == 3">
                <div class="text-capitalize">
                  Type: {{ post.activity.type }} | {{ post.activity.term }}
                </div>
                <div>Title: {{ post.activity.title }}</div>
                <div>Instruction: {{ post.activity.instruction }}</div>
                <div>
                  Deadline:
                  {{
                    convertToDate(post.activity.deadline.seconds)
                      | date: "MMM dd yyyy hh:mm a"
                  }}
                </div>
              </div>
              <div *ngIf="post.type == 4">
                <div class="text-capitalize">
                  Type: {{ post.submit.activity.type }} |
                  {{ post.submit.activity.term }}
                </div>
                <div>Title: {{ post.submit.activity.title }}</div>
                <div>Score: {{ post.submit.score }}</div>
                <div>
                  Date Submitted:
                  {{
                    convertToDate(post.submit.date.submitted.seconds)
                      | date: "MMM dd yyyy hh:mm a"
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="selectedClass?.id == ''">
      <div class="card mb-2 pt-2" *ngIf="postsList.length == 0">
        <h1 class="text-center">
          <i class="icon fa fa-address-card text-primary"></i>
        </h1>
        <h3 class="text-center text-secondary mb-0">
          No Class
        </h3>
        <p class="text-center text-secondary">
          Click Classes to select or Add new Class
        </p>
      </div>
    </div>

    <!-- Notif -->
  </div>
  <app-footer></app-footer>
</div>

<!-- Spinner -->

<ngx-spinner
  bdOpacity="0.5"
  bdColor="rgba(51,51,51,0.6)"
  size="default"
  color="#fff"
  type="ball-pulse-sync"
  [fullScreen]="true"
>
</ngx-spinner>
