.main {
  min-height: calc(100vh);
  background-size: cover;
  padding-top: 80px;
  padding-left: 10%;
  padding-right: 10%;
}

.logo {
  height: 100px;
  width: 320px;
  margin: 10px auto 25px;
  display: block;
}

#login-row {
  background: lightblue;
  background-size: 100%;
}

#login-right {
  background-color:white;
}

#register {
  background: url(../../../assets/images/artificial-flowers.jpg) no-repeat right;
  background-size: contain;
}

#register-left {
  background-image: linear-gradient(to right, white, white, transparent);
}
