<div class="main h-100 w-100 bg-light">
 <!-- <div class="text-center mt-3 mb-5">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <button
          id="loginButton"
          class="hover-primary btn bg-transparent
        w-100 mb-2 rounded text-white border-primary"
          (click)="openModal(loginModal)"
        >
          Login
        </button>
      </div>
      <div class="col-sm-4">
        <button
          class="hover-primary btn bg-transparent
                w-100 mb-2 rounded text-white border-primary"
          (click)="openModal(registerModal)"
        >
          Register
        </button>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-2"></div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 rounded" id="login-right">
      <form class="px-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="clearfix mb-4">
          <h1 class="mb-5 mt-5">
            <strong class="text-tertiary float-left">
              Student Performance System
            </strong>
          </h1>
        </div>

        <div class="form-group">
          <input
            class="form-control"
            placeholder="email@example.com"
            type="email"
            formControlName="email"
          />
          <div *ngIf="submitted && login.email.errors?.required">
            <div class="text-danger px-3 pt-2">
              <i class="fa fa-exclamation-circle text-danger"></i>
              Email is required
            </div>
          </div>
          <div *ngIf="submitted && login.email.errors?.email">
            <div class="text-danger px-3 pt-2">
              <i class="fa fa-exclamation-circle text-danger"></i>
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
          />
          <div *ngIf="submitted && login.password.errors?.required">
            <div class="text-danger px-3 pt-2">
              <i class="fa fa-exclamation-circle text-danger"></i>
              Password is required
            </div>
          </div>
          <div class="p-2">
            <p class="text-info float-right">Forgot Password</p>
          </div>
        </div>
        <hr />
        <div class="form-group">
          <button
            id="loginButton"
            type="submit"
            class="form-control btn btn-primary"
            [disabled]="loading"
          >
            {{ loading ? "" : "Login" }}
            <i class="fa fa-spinner" *ngIf="loading"></i>
          </button>
        </div>
        <div class="form-group text-center mb-5">
          <p class="text-secondary">or</p>
          <button class="form-control btn btn-outline-secondary" type="button" (click)="openModal(registerModal)">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- REGISTER -->
<ng-template #registerModal let-modal>
  <div class="row" id="register">
    <div class="col-12 rounded-left" id="register-left">
      <button
        class="btn bg-transparent border-secondary rounded-circle py-1 px-2 float-right mr-3 text-dark mt-3"
        (click)="dismissModal()"
      >
        <i class="fa fa-times smaller"></i>
      </button>
      <form
        class="px-3"
        [formGroup]="studRegisterForm"
        (ngSubmit)="registerAccount()"
        *ngIf="role == 'student'"
      >
        <div class="clearfix mb-4">
          <h2 class="mb-4">
            <strong class="text-secondary float-left">
              <span class="text-dark">Register</span> -
              <span class="text-secondary text-capitalize">{{ role }}</span>
            </strong>
          </h2>
        </div>
        <div class="form-group d-flex">
          <input
            type="text"
            class="form-control"
            placeholder="Student Id"
            formControlName="studid"
          />
          <i
            class="fa fa-exclamation-circle text-danger ml-2"
            *ngIf="submitted && student.studid.errors?.required"
          ></i>
        </div>
        <div class="form-group row">
          <div class="col d-flex">
            <input
              type="text"
              class="form-control"
              placeholder="First name"
              formControlName="fname"
            />
            <i
              class="fa fa-exclamation-circle text-danger ml-2"
              *ngIf="submitted && student.fname.errors?.required"
            ></i>
          </div>
          <div class="col d-flex">
            <input
              type="text"
              class="form-control"
              placeholder="Last name"
              formControlName="lname"
            />
            <i
              class="fa fa-exclamation-circle text-danger ml-2"
              *ngIf="submitted && student.lname.errors?.required"
            ></i>
          </div>
        </div>
        <div class="form-group d-flex">
          <input
            type="text"
            class="form-control"
            placeholder="email@example.com"
            formControlName="email"
          />
          <i
            class="fa fa-exclamation-circle text-danger ml-2"
            *ngIf="submitted && student.email.errors?.required"
          ></i>

          <i
            class="fa fa-envelope-o text-danger ml-2"
            *ngIf="submitted && student.email.errors?.email"
          ></i>
        </div>
        <div class="form-group d-flex">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
          />
          <i
            class="fa fa-exclamation-circle text-danger ml-2"
            *ngIf="submitted && student.password.errors?.required"
          ></i>
        </div>
        <div class="form-group d-flex">
          <input
            type="password"
            class="form-control"
            placeholder="Confirm password"
            formControlName="password2"
          />
          <i
            class="fa fa-exclamation-circle text-danger ml-2"
            *ngIf="submitted && student.password2.errors?.required"
          ></i>
        </div>
        <hr />

        <!-- <div class="form-group" *ngIf="role == 'student'">
          <input
            type="text"
            class="form-control"
            placeholder="Classroom Code"
          />
        </div> -->

        <div class="form-group">
          <input type="submit" class="w-100 btn btn-primary" value="Register" />
        </div>
        <hr class="mx-auto bg-secondary w-50" />
      </form>

      <form
        class="px-3"
        [formGroup]="instructorRegisterForm"
        (ngSubmit)="registerAccount()"
        *ngIf="role == 'instructor'"
      >
        <div class="clearfix mb-4">
          <h2 class="mb-4">
            <strong class="text-secondary float-left">
              <span class="text-dark">Register</span> -
              <span class="text-primary text-capitalize">{{ role }}</span>
            </strong>
          </h2>
        </div>
        <div class="form-group row">
          <div class="col d-flex">
            <input
              type="text"
              class="form-control"
              placeholder="First name"
              formControlName="fname"
            />
            <i
              class="fa fa-exclamation-circle text-danger ml-2"
              *ngIf="submitted && instructor.fname.errors?.required"
            ></i>
          </div>
          <div class="col d-flex">
            <input
              type="text"
              class="form-control"
              placeholder="Last name"
              formControlName="lname"
            />
            <i
              class="fa fa-exclamation-circle text-danger ml-2"
              *ngIf="submitted && instructor.lname.errors?.required"
            ></i>
          </div>
        </div>
        <div class="form-group d-flex">
          <input
            type="text"
            class="form-control"
            placeholder="email@example.com"
            formControlName="email"
          />
          <i
            class="fa fa-exclamation-circle text-danger ml-2"
            *ngIf="submitted && instructor.email.errors?.required"
          ></i>

          <i
            class="fa fa-envelope-o text-danger ml-2"
            *ngIf="submitted && instructor.email.errors?.email"
          ></i>
        </div>
        <div class="form-group d-flex">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
          />
          <i
            class="fa fa-exclamation-circle text-danger ml-2"
            *ngIf="submitted && instructor.password.errors?.required"
          ></i>
        </div>
        <div class="form-group d-flex">
          <input
            type="password"
            class="form-control"
            placeholder="Confirm password"
            formControlName="password2"
          />
          <i
            class="fa fa-exclamation-circle text-danger ml-2"
            *ngIf="submitted && instructor.password2.errors?.required"
          ></i>
        </div>
        <hr />

        <!-- <div class="form-group" *ngIf="role == 'student'">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Classroom Code"
                />
              </div> -->

        <div class="form-group">
          <input type="submit" class="w-100 btn btn-danger" value="Register" />
        </div>
        <hr class="mx-auto bg-secondary w-50" />
      </form>
      <div class="form-group text-center mb-3">
        <button class="btn bg-transparent text-primary" (click)="changeRole()">
          {{ role == "instructor" ? "Im a Student" : "Im an Instructor" }}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ngx-spinner
  bdOpacity="0.5"
  bdColor="rgba(51,51,51,0.6)"
  size="default"
  color="#fff"
  type="ball-pulse-sync"
  [fullScreen]="true"
>
</ngx-spinner>
