<app-top-nav title="Class"> </app-top-nav>
<app-side-nav> </app-side-nav>
<div class="main">
  <div class="row">
    <div class="col-md-10">
      <!-- Class Info -->
      <div class="card bg-primary mb-3">
        <div class="card-header py-2 pl-4 pr-0">
          <div class="text-dark">
            <h5>
              {{ selectedClass.name }}
            </h5>
          </div>
          <span class="text-secondary class-code"
            >Instructor: {{ selectedClass.instructor.name }}</span
          >
        </div>
        <div class="card-body bg-light">
          <p>{{ selectedClass.description }}</p>
        </div>
      </div>

      <!-- Recent Activities -->
      <p class="text-dark mt-1">Recent Activities</p>
      <hr />
      <div class="activity-list" *ngIf="!loading">
        <div class="mb-2" *ngFor="let activity of activityList">
          <div class="card bg-light p-3 text-left">
            <div class="row">
              <div class="col-md-5">
                <img
                  src="https://cdn-images-1.medium.com/max/800/0*ngXgBNNdx6iiWP8q.png"
                  class="mr-3 activities-img"
                  alt="..."
                />
              </div>
              <div class="col-md-7">
                <h5 class="overflow-wrap">{{ activity.title }}</h5>
                <p class="overflow-wrap">
                  {{ activity.instruction }}
                </p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-4">
                <span class="text-capitalize">
                  Type: {{ activity.type }} | Term: {{ activity.term }}
                </span>
              </div>
              <div class="col-md-4">
                {{ activity.questions?.length }} Questions |
                {{ activity.time_limit }} mins
              </div>
              <div class="col-md-4">
                Submits: {{ activity.submits ? activity.submits.length : 0 }} |
                {{ activity.deadline.seconds * 1000 | date: 'dd MMM yyyy' }}
              </div>
            </div>
          </div>
          <div class="card bg-primary" *ngIf="user.role == 'student'">
            <button
              class="btn btn-dark float-right"
              [routerLink]="['/take-exam']"
              routerLinkActive="router-link-active"
              (click)="takeExam(activity)"
              [disabled]="today > convertToDate(activity.deadline?.seconds)"
            >
              <span class="text-capitalize">{{
                today > convertToDate(activity.deadline?.seconds)
                  ? 'Ended'
                  : 'Start'
              }}</span>
            </button>
          </div>
        </div>
      </div>

      <!-- loading divs -->
      <div class="loading-div" *ngIf="loading">
        <div class="card bg-light p-3 btn text-left mb-2">
          <div class="row">
            <div class="col-md-5 overflow-hidden">
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  'border-radius': '0',
                  height: '90px',
                  width: '100%'
                }"
                appearance="circle"
              >
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-7 pt-2">
              <h5 class="overflow-wrap">
                <ngx-skeleton-loader count="1" appearance="line">
                </ngx-skeleton-loader>
              </h5>
              <p class="overflow-wrap">
                <ngx-skeleton-loader count="1" appearance="line">
                </ngx-skeleton-loader>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-5">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-3">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-4">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
          </div>
        </div>
        <div class="card p-3 btn text-left mb-2">
          <div class="row">
            <div class="col-md-5 overflow-hidden">
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  'border-radius': '0',
                  height: '90px',
                  width: '100%'
                }"
                appearance="circle"
              >
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-7 pt-2">
              <h5 class="overflow-wrap">
                <ngx-skeleton-loader count="1" appearance="line">
                </ngx-skeleton-loader>
              </h5>
              <p class="overflow-wrap">
                <ngx-skeleton-loader count="1" appearance="line">
                </ngx-skeleton-loader>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-5">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-3">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-4">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
          </div>
        </div>
        <div class="card p-3 btn text-left mb-2">
          <div class="row">
            <div class="col-md-5 overflow-hidden">
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  'border-radius': '0',
                  height: '90px',
                  width: '100%'
                }"
                appearance="circle"
              >
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-7 pt-2">
              <h5 class="overflow-wrap">
                <ngx-skeleton-loader count="1" appearance="line">
                </ngx-skeleton-loader>
              </h5>
              <p class="overflow-wrap">
                <ngx-skeleton-loader count="1" appearance="line">
                </ngx-skeleton-loader>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-5">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-3">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-4">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
          </div>
        </div>
      </div>
      <!-- no activity div -->
      <div
        class="card bg-light text-center mb-2 p-3"
        *ngIf="!loading && activityList.length == 0"
      >
        No ongoing activity
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-primary">
        <div class="card-header text-dark p-2">
          <i class="fa fa-fw fa-id-badge"></i> Class Members
        </div>
        <div class="card-body p-2">
          <p class="text-secondary pl-4" *ngIf="members.length == 0">
            No Members
          </p>
          <ul class="list-group">
            <li
              class="list-group-item d-flex bg-light p-2 mb-2"
              *ngFor="let member of members"
            >
              <img
                [src]="member.image"
                class="mr-3 profile-img rounded-circle"
                alt="..."
              />
              <div>
                <div class="stud-name">
                  {{ member.name.first }} {{ member.name.last }}
                </div>
                <div class="stud-id">
                  {{ member.student_number }}
                  {{ member.course ? '| ' + member.course : '' }}
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
