.main {
  margin-left: 250px;
  padding: 80px 20px;
}

.search-input {
  color: white;
}

.answer{
  .nav-link{
    color: #28a745!important;
  }
  .active {
    background-color: #28a745!important;
    color:white !important;
  }
}
