<app-top-nav title="Messages"> </app-top-nav>
<app-side-nav> </app-side-nav>
<div class="main">
  <div class="row">
    <div class="col-md-4">
      <ul class="list-unstyled class-group">
        <li class="gc card mb-1 px-3 py-2 text-dark bg-dark">
          <div><i class="fa fa-fw fa-bookmark"></i> Classroom</div>
          <hr class="m-0" />
          <div class="ml-4">
            <p class="text-truncate m-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel atque
              officia dolor quasi non aperiam ab, temporibus ad voluptatem
              autem.
            </p>
          </div>
        </li>
        <li class="gc card mb-1 px-3 py-2 text-dark">
          <div><i class="fa fa-fw fa-bookmark"></i> Classroom</div>
          <hr class="m-0" />
          <div class="ml-4">
            <p class="text-truncate m-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel atque
              officia dolor quasi non aperiam ab, temporibus ad voluptatem
              autem.
            </p>
          </div>
        </li>
        <li class="gc card mb-1 px-3 py-2 text-dark">
          <div><i class="fa fa-fw fa-bookmark"></i> Classroom</div>
          <hr class="m-0" />
          <div class="ml-4">
            <p class="text-truncate m-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel atque
              officia dolor quasi non aperiam ab, temporibus ad voluptatem
              autem.
            </p>
          </div>
        </li>
        <li class="gc card mb-1 px-3 py-2 text-dark">
          <div><i class="fa fa-fw fa-bookmark"></i> Classroom</div>
          <hr class="m-0" />
          <div class="ml-4">
            <p class="text-truncate m-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel atque
              officia dolor quasi non aperiam ab, temporibus ad voluptatem
              autem.
            </p>
          </div>
        </li>
        <li class="gc card mb-1 px-3 py-2 text-dark">
          <div><i class="fa fa-fw fa-bookmark"></i> Classroom</div>
          <hr class="m-0" />
          <div class="ml-4">
            <p class="text-truncate m-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel atque
              officia dolor quasi non aperiam ab, temporibus ad voluptatem
              autem.
            </p>
          </div>
        </li>
        <li class="gc card mb-1 px-3 py-2 text-dark">
          <div><i class="fa fa-fw fa-bookmark"></i> Classroom</div>
          <hr class="m-0" />
          <div class="ml-4">
            <p class="text-truncate m-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel atque
              officia dolor quasi non aperiam ab, temporibus ad voluptatem
              autem.
            </p>
          </div>
        </li>
        <li class="gc card mb-1 px-3 py-2 text-dark">
          <div><i class="fa fa-fw fa-bookmark"></i> Classroom</div>
          <hr class="m-0" />
          <div class="ml-4">
            <p class="text-truncate m-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel atque
              officia dolor quasi non aperiam ab, temporibus ad voluptatem
              autem.
            </p>
          </div>
        </li>
        <li class="gc card mb-1 px-3 py-2 text-dark">
          <div><i class="fa fa-fw fa-bookmark"></i> Classroom</div>
          <hr class="m-0" />
          <div class="ml-4">
            <p class="text-truncate m-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel atque
              officia dolor quasi non aperiam ab, temporibus ad voluptatem
              autem.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="card p-2 messages">
        <div class="received p-3 mb-2">
          <div class="row">
            <div class="col-md-2">
              <img src="assets/images/profile.jpg" alt="" class="profile-img" />
              <div class="receipient text-center pt-2">
                Hiroshi
              </div>
            </div>
            <div class="col-md-10">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
              maiores accusamus ea nulla, blanditiis voluptatibus excepturi
              minus, error iure illum alias asperiores non cupiditate,
              reprehenderit dolor? Laboriosam error, illum modi cupiditate
              cumque fugiat odio consectetur quia dignissimos, culpa odit,
              necessitatibus qui vero inventore corporis perferendis nostrum.
              Natus quidem autem alias?
            </div>
          </div>
        </div>
        <div class="sent p-3 mb-2">
          <div class="row">
            <div class="col-md-10">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
              maiores accusamus ea nulla, blanditiis voluptatibus excepturi
              minus, error iure illum alias asperiores non cupiditate,
              reprehenderit dolor? Laboriosam error, illum modi cupiditate
              cumque fugiat odio consectetur quia dignissimos, culpa odit,
              necessitatibus qui vero inventore corporis perferendis nostrum.
              Natus quidem autem alias?
            </div>
            <div class="col-md-2">
              <img src="assets/images/profile.jpg" alt="" class="profile-img" />
              <div class="sender text-center pt-2">
                Anthony
              </div>
            </div>
          </div>
        </div>
        <div class="received p-3 mb-2">
          <div class="row">
            <div class="col-md-2">
              <img src="assets/images/profile.jpg" alt="" class="profile-img" />
              <div class="receipient text-center pt-2">
                Hiroshi
              </div>
            </div>
            <div class="col-md-10">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
              maiores accusamus ea nulla, blanditiis voluptatibus excepturi
              minus, error iure illum alias asperiores non cupiditate,
              reprehenderit dolor? Laboriosam error, illum modi cupiditate
              cumque fugiat odio consectetur quia dignissimos, culpa odit,
              necessitatibus qui vero inventore corporis perferendis nostrum.
              Natus quidem autem alias?
            </div>
          </div>
        </div>
        <div class="sent p-3 mb-2">
          <div class="row">
            <div class="col-md-10">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
              maiores accusamus ea nulla, blanditiis voluptatibus excepturi
              minus, error iure illum alias asperiores non cupiditate,
              reprehenderit dolor? Laboriosam error, illum modi cupiditate
              cumque fugiat odio consectetur quia dignissimos, culpa odit,
              necessitatibus qui vero inventore corporis perferendis nostrum.
              Natus quidem autem alias?
            </div>
            <div class="col-md-2">
              <img src="assets/images/profile.jpg" alt="" class="profile-img" />
              <div class="sender text-center pt-2">
                Anthony
              </div>
            </div>
          </div>
        </div>
        <div class="received p-3 mb-2">
          <div class="row">
            <div class="col-md-2">
              <img src="assets/images/profile.jpg" alt="" class="profile-img" />
              <div class="receipient text-center pt-2">
                Hiroshi
              </div>
            </div>
            <div class="col-md-10">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
              maiores accusamus ea nulla, blanditiis voluptatibus excepturi
              minus, error iure illum alias asperiores non cupiditate,
              reprehenderit dolor? Laboriosam error, illum modi cupiditate
              cumque fugiat odio consectetur quia dignissimos, culpa odit,
              necessitatibus qui vero inventore corporis perferendis nostrum.
              Natus quidem autem alias?
            </div>
          </div>
        </div>
        <div class="sent p-3 mb-2">
          <div class="row">
            <div class="col-md-10">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
              maiores accusamus ea nulla, blanditiis voluptatibus excepturi
              minus, error iure illum alias asperiores non cupiditate,
              reprehenderit dolor? Laboriosam error, illum modi cupiditate
              cumque fugiat odio consectetur quia dignissimos, culpa odit,
              necessitatibus qui vero inventore corporis perferendis nostrum.
              Natus quidem autem alias?
            </div>
            <div class="col-md-2">
              <img src="assets/images/profile.jpg" alt="" class="profile-img" />
              <div class="sender text-center pt-2">
                Anthony
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-grey rounded my-2 p-1 d-flex">
        <div class="w-10 pb-1 px-1">
          <img
            src="assets/images/profile.jpg"
            alt=""
            class="chat-input-img w-100 h-100 rounded border border-dark"
          />
        </div>
        <div class="w-65 message-input">
          <textarea class="h-100 w-100 p-2"> </textarea>
        </div>
        <div class="w-25 pb-1 px-1">
          <button class="btn btn-primary w-100 h-100">
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
