.main {
  margin-left: 250px;
  padding: 80px 20px;
}

.profile-img {
  width: 50px;
}

.gc {
  background-color: rgba(0, 0, 0, 0.233);
}

.received {
  background-color: #f1f1f1;
  text-align: left;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 12px;
  margin-right: 100px;
}

.receipient,
.sender {
  font-size: 12px;
}

.sent {
  background-color: #ffffff;
  text-align: left;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 12px;
  margin-left: 100px;
}

.messages {
  position: relative;
  height: 65vh;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.541);
}

.class-group {
  height: 75vh;
  overflow: auto;
}

.class-group::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.messages::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.message-input {
  font-size: 12px;
}

.w-10 {
  width: 10% !important;
}

.w-65 {
  width: 65% !important;
}
