<app-top-nav title="Manage Class"> </app-top-nav>
<app-side-nav> </app-side-nav>
<div class="main">
  <div class="row">
    <div class="col-md-10">
      <div class="card bg-primary p-5" *ngIf="false">
        <h2 class="text-center text-dark">
          No Records yet
        </h2>
      </div>

      <div class="loading-div" *ngIf="loading">
        <div class="card bg-primary mb-3">
          <div class="card-header ">
            <div class="w-75">
              <ngx-skeleton-loader animate="true" count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="w-50">
              <ngx-skeleton-loader animate="true" count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
          </div>
          <div class="card-body bg-light">
            <ngx-skeleton-loader animate="true" count="1" appearance="line">
            </ngx-skeleton-loader>
          </div>
        </div>
        <div class="card bg-primary mb-3">
          <div class="card-header ">
            <div class="w-75">
              <ngx-skeleton-loader animate="true" count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="w-50">
              <ngx-skeleton-loader animate="true" count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
          </div>
          <div class="card-body bg-light">
            <ngx-skeleton-loader count="1" animate="true" appearance="line">
            </ngx-skeleton-loader>
          </div>
        </div>
        <div class="card bg-primary mb-3">
          <div class="card-header ">
            <div class="w-75">
              <ngx-skeleton-loader animate="true" count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="w-50">
              <ngx-skeleton-loader animate="true" count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
          </div>
          <div class="card-body bg-light">
            <ngx-skeleton-loader animate="true" count="1" appearance="line">
            </ngx-skeleton-loader>
          </div>
        </div>
      </div>

      <div>
        <div class="card bg-primary mb-3" *ngFor="let class of classList">
          <div class="card-header py-2 pl-4 pr-0">
            <div class="text-light">
              <span style="font-size:24px"><i [class]="'p-1 mr-2 fa fa-archive text-' + class.color"></i> {{ class.name }}</span>
              <button
                class="btn btn-light text-primary mr-3 float-right"
                (click)="setSelectedClass(updateClassModal, class)"
              >
                <i class="fa fa-pencil-square-o"></i> Edit
              </button>
            </div>
            <span class="text-light class-code" style="font-size:18px"
              >Class ID: {{ class.code }}</span
            >
          </div>
          <div class="card-body bg-light">
            {{ class.description }}
          </div>
        </div>
      </div>
    </div>
    <!-- Notif -->
  </div>
</div>

<ng-template #updateClassModal let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary">
    <h4 class="modal-title text-dark">New Class</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true" class="text-dark">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text bg-primary text-light" id="">Class name:</span>
      </div>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="selectedClass.name"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text bg-primary text-light" id="">Description:</span>
      </div>
      <textarea
        type="textarea"
        class="form-control"
        [(ngModel)]="selectedClass.description"
      ></textarea>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text bg-primary text-light" for="inputColors">Class Color:</span>
      </div>
      <select
        [class]="
          selectedClass.color != 'yellow'
            ? 'custom-select text-dark bg-' + selectedClass.color
            : 'custom-select text-dark bg-' + selectedClass.color
        "
        [(ngModel)]="selectedClass.color"
      >
      <option class="text-dark" selected>Choose...</option>
      <option class="text-dark" value="red">Red</option>
      <option class="text-dark" value="orange">Orange</option>
      <option class="text-dark" value="yellow">Yellow</option>
      <option class="text-dark" value="lime">Lime</option>
      <option class="text-dark" value="blue">Blue</option>
      <option class="text-dark" value="purple">Purple</option>
      <option class="text-dark" value="fuchsia">Fuchsia</option>
      <option class="text-dark" value="aqua">Aqua</option>
      <option class="text-dark" value="green">Green</option>
      <option class="text-dark" value="teal">Teal</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="updateClass()">
      Update
    </button>
  </div>
</ng-template>

<ngx-spinner
  bdOpacity="0.5"
  bdColor="rgba(51,51,51,0.6)"
  size="default"
  color="#fff"
  type="ball-pulse-sync"
  [fullScreen]="true"
>
</ngx-spinner>
