<app-top-nav title=""> </app-top-nav>
<app-side-nav> </app-side-nav>
<div class="main">
  <div class="container" *ngIf="!timerStarted && submit?.status != 2">
    <div class="card bg-light p-3 text-left mb-2">
      <div class="row">
        <div class="col-md-5">
          <img
            src="https://cdn-images-1.medium.com/max/800/0*ngXgBNNdx6iiWP8q.png"
            class="mr-3 activities-img w-100"
            alt="..."
            *ngIf="!loading"
          />
          <ngx-skeleton-loader
            count="1"
            [theme]="{
              'border-radius': '0',
              height: '100%',
              width: '100%'
            }"
            appearance="circle"
            *ngIf="loading"
          >
          </ngx-skeleton-loader>
        </div>
        <div class="col-md-7">
          <h5 class="overflow-wrap">
            {{ activity.title }}

            <ngx-skeleton-loader count="1" appearance="line" *ngIf="loading">
            </ngx-skeleton-loader>
          </h5>
          <p class="overflow-wrap"></p>
          <p class="overflow-wrap">
            {{ activity.instruction }}
            <ngx-skeleton-loader count="1" appearance="line" *ngIf="loading">
            </ngx-skeleton-loader>
          </p>
          <hr />
          <p>
            <span *ngIf="!loading">
              <i [class]="'fa fa-bookmark text-' + selectedClass.color"></i>
              {{ selectedClass.name }} |
              {{ selectedClass.instructor?.name }}</span
            >
            <ngx-skeleton-loader count="1" appearance="line" *ngIf="loading">
            </ngx-skeleton-loader>
          </p>
        </div>
      </div>
      <hr />
      <div *ngIf="loading">
        <ngx-skeleton-loader count="1" appearance="line" *ngIf="loading">
        </ngx-skeleton-loader>
      </div>
      <div class="row" *ngIf="!loading">
        <div class="col-md-5">
          <span class="text-capitalize"
            >{{ activity.questions?.length }} Questions</span
          >
        </div>
        <div class="col-md-3">{{ activity.time_limit }} mins</div>
        <div class="col-md-4">
          {{ computeTotalPoints(activity.questions) }} points
        </div>
      </div>
    </div>
    <div *ngIf="!loading">
      <button class="btn btn-dark w-100 mb-2" (click)="startActivity()">
        {{ continuing ? 'Continue' : 'Start' }}
      </button>
      <button
        class="btn bg-grey w-100 mb-2"
        [routerLink]="['/view-class']"
        routerLinkActive="router-link-active"
      >
        Back
      </button>
    </div>
  </div>

  <div class="contaier" *ngIf="timerStarted">
    <div class="card p-2 mb-2 bg-primary text-dark" *ngIf="!submitted">
      <div class="d-flex">
        <div class="mx-2 mt-2">
          <i class="fa fa-book check" aria-hidden="true"></i>
        </div>
        <div class="ml-2">
          <div>
            Title:
            <span class="text-secondary"> {{ activity.title }} </span>
          </div>
          <div>
            Type:
            <span class="text-secondary text-capitalize"
              >{{ activity.type }} | {{ activity.term }}</span
            >
          </div>
          <div>
            Deadline:
            <span class="text-secondary"
              >{{
                activity.deadline.seconds * 1000 | date: 'dd MMM yyyy'
              }}
              11:59 PM</span
            >
          </div>
        </div>
      </div>
    </div>

    <div
      class="card p-2 mb-2 bg-primary text-dark"
      *ngIf="submitted || submit.status == 2"
    >
      <div class="d-flex">
        <div class="mx-2 mt-2">
          <i
            class="fa fa-check-square-o check text-success"
            aria-hidden="true"
          ></i>
        </div>
        <div class="ml-2">
          <div>
            Title:
            <span class="text-secondary"> {{ activity.title }} </span>
          </div>
          <div>
            Your Score:
            <span class="text-secondary text-capitalize">
              {{ submit.score }} / {{ submit.total_items }} Points
            </span>
          </div>
          <div>
            Date Submitted:
            <span class="text-secondary">
              {{
                submit.date.submitted?.seconds * 1000
                  | date: 'dd MMM yyyy hh:mm a'
              }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row" *ngIf="!submitted">
      <div class="col-sm-3">
        <div class="w-100 btn-group-vertical question-nums mb-3" role="group">
          <button
            type="button"
            class="btn w-100 "
            *ngFor="let question of activity.questions"
            [ngClass]="{
              'btn-dark': question.number == selectedQuestion?.number
            }"
            (click)="setSelectedQuestion(question)"
          >
            Question #{{ question.number }}
          </button>
        </div>
        <div>
          <button
            class="btn btn-dark border border-danger w-100"
            (click)="submitActivity()"
          >
            Submit
          </button>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="card bg-light py-2 px-3 mb-2">
          {{
            selectedQuestion.type == 'mc'
              ? 'Multiple Questions'
              : selectedQuestion.type == 'sa'
              ? 'Short Answer'
              : 'True or False'
          }}
          ({{ selectedQuestion.points }} points)
        </div>
        <div class="card bg-light py-2 px-3 text-capitalize question-text">
          {{ selectedQuestion.text }}
        </div>
        <hr />
        <!-- Options -->

        <div [ngSwitch]="selectedQuestion.type">
          <div *ngSwitchCase="'mc'">
            <div class="mc">
              <div
                class="input-group input-group-sm mb-3"
                *ngFor="let option of selectedQuestion?.options"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text">{{ option.key }}</span>
                </div>
                <input
                  type="text"
                  class="form-control btn text-left"
                  [value]="option.value"
                  readonly
                  (click)="setMcAnswer(option)"
                  [ngClass]="{
                    'bg-primary text-dark':
                      selectedQuestion.answer?.key == option.key
                  }"
                />
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'tof'">
            <div class="tof">
              <div class="form-group">
                <label class="text-dark">Answer</label>
                <select
                  class="custom-select bg-light"
                  (change)="setTofAnswer($event)"
                >
                  <option value=""></option>
                  <option
                    value="true"
                    [selected]="selectedQuestion.answer?.value == 'true'"
                    >True</option
                  >
                  <option
                    value="false"
                    [selected]="selectedQuestion.answer?.value == 'false'"
                    >False</option
                  >
                </select>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'sa'">
            <div class="sa">
              <div class="form-group">
                <label class="text-dark">Answer</label>
                <input
                  type="text"
                  class="form-control bg-light"
                  [value]="
                    selectedQuestion.answer
                      ? selectedQuestion.answer?.value
                      : ''
                  "
                  (keyup)="setSaAnswer($event)"
                />
              </div>
            </div>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col">
            <button class="btn btn-dark float-left" (click)="prevQuestion()">
              <i class="fa fa-angle-left"></i> Prev
            </button>
          </div>

          <div class="col timer py-2 px-3 text-center text-dark">
            <i class="fa fa-clock-o"></i>
            {{ trunc(submit?.timer_left / 60) }}:{{
              submit?.timer_left % 60 | number: '2.0'
            }}
          </div>

          <div class="col">
            <button class="btn btn-dark float-right" (click)="nextQuestion()">
              Next <i class="fa fa-angle-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Results -->
  <div *ngIf="!submitted && submit?.status == 2">
    <div class="card p-2 mb-2 bg-primary text-dark">
      <div class="d-flex">
        <div class="mx-2 mt-2">
          <i
            class="fa fa-check-square-o check text-success"
            aria-hidden="true"
          ></i>
        </div>
        <div class="ml-2">
          <div>
            Title:
            <span class="text-secondary"> {{ activity.title }} </span>
          </div>
          <div>
            Your Score:
            <span class="text-secondary text-capitalize">
              {{ submit.score }} / {{ submit.total_items }} Points
            </span>
          </div>
          <div>
            Date Submitted:
            <span class="text-secondary">
              {{
                submit.date.submitted?.seconds * 1000
                  | date: 'dd MMM yyyy hh:mm a'
              }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <p
      class="text-center"
      *ngIf="today < convertToDate(activity.deadline?.seconds)"
    >
      Results can be viewed after the deadline
    </p>

    <div
      class="row"
      *ngIf="!loading && today > convertToDate(activity.deadline?.seconds)"
    >
      <div class="col-sm-3">
        <div class="w-100 btn-group-vertical question-nums mb-3" role="group">
          <button
            type="button"
            class="btn w-100 "
            *ngFor="let question of activity?.questions"
            [ngClass]="{
              'btn-dark': question.number == selectedQuestion?.number
            }"
            (click)="setSelectedQuestion(question)"
          >
            Question #{{ question.number }}
          </button>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="card bg-light py-2 px-3 mb-2">
          {{
            selectedQuestion?.type == 'mc'
              ? 'Multiple Questions'
              : selectedQuestion?.type == 'sa'
              ? 'Short Answer'
              : 'True or False'
          }}
          ({{ selectedQuestion?.points }} points)
        </div>
        <div class="card bg-light py-2 px-3 text-capitalize question-text">
          {{ selectedQuestion?.text }}
        </div>
        <hr />
        <!-- Options -->

        <div [ngSwitch]="selectedQuestion?.type">
          <div *ngSwitchCase="'mc'">
            <div class="mc">
              <div
                class="input-group input-group-sm mb-3"
                *ngFor="let option of selectedQuestion?.options"
              >
                <div class="input-group-prepend">
                  <span
                    class="input-group-text"
                    [ngClass]="{
                      'bg-success text-dark': option.isCorrect,
                      'bg-primary text-dark': !option.isCorrect
                    }"
                  >
                    <i
                      class="fa fa-check"
                      *ngIf="
                        selectedQuestion.answer?.key == option.key &&
                        selectedQuestion.answer.isCorrect
                      "
                    ></i>
                    <i
                      class="fa fa-close"
                      *ngIf="
                        selectedQuestion.answer?.key == option.key &&
                        !selectedQuestion.answer.isCorrect
                      "
                    ></i>
                    <span *ngIf="selectedQuestion.answer?.key != option.key">{{
                      option.key
                    }}</span>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control btn text-left"
                  [value]="option.value"
                  readonly
                  [ngClass]="{
                    'bg-primary text-dark':
                      selectedQuestion.answer?.key == option.key
                  }"
                />
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'tof'">
            <div class="tof">
              <div class="form-group">
                <label class="text-dark"
                  >Correct Answer:
                  <strong class="text-capitalize text-success">
                    {{ (selectedQuestion?.options)[0].value }}
                  </strong></label
                >
                <div class="form-control text-capitalize">
                  {{ selectedQuestion.answer?.value }}
                  <i
                    class="fa fa-check float-right mt-1 text-success"
                    *ngIf="selectedQuestion.answer?.isCorrect"
                  ></i>
                  <i
                    class="fa fa-close float-right mt-1 text-danger"
                    *ngIf="!selectedQuestion.answer?.isCorrect"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'sa'">
            <div class="sa">
              <div class="form-group">
                <label class="text-dark"
                  >Correct Answer:
                  <strong class="text-capitalize text-success">
                    {{ (selectedQuestion?.options)[0].value }}
                  </strong></label
                >
                <div class="form-control text-capitalize">
                  {{ selectedQuestion.answer?.value }}
                  <i
                    class="fa fa-check float-right mt-1 text-success"
                    *ngIf="selectedQuestion.answer?.isCorrect"
                  ></i>
                  <i
                    class="fa fa-close float-right mt-1 text-danger"
                    *ngIf="!selectedQuestion.answer?.isCorrect"
                  ></i>
                </div>
              </div>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col">
              <button class="btn btn-dark float-left" (click)="prevQuestion()">
                <i class="fa fa-angle-left"></i> Prev
              </button>
            </div>

            <div class="col timer py-2 px-3 text-center text-dark"></div>

            <div class="col">
              <button class="btn btn-dark float-right" (click)="nextQuestion()">
                Next <i class="fa fa-angle-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Spinner -->

  <ngx-spinner
    bdOpacity="0.5"
    bdColor="rgba(51,51,51,0.6)"
    size="default"
    color="#fff"
    type="ball-pulse-sync"
    [fullScreen]="true"
  >
  </ngx-spinner>
</div>
