<app-top-nav title="Manage Students"> </app-top-nav>
<app-side-nav> </app-side-nav>
<div class="main">
  <div class="row">
    <div class="col-md-8">
      <div class="card bg-dark mb-2 students">
        <div class="card-header bg-dark p-2 pt-3">
          <h5 class="text-light user-name">
            Mr Student
          </h5>
        </div>
        <div class="card-body bg-secondary p-2 pb-4">
          <img
            src="assets/images/profile.jpg"
            alt=""
            class="profile-pic border border-dark"
          />
          <h6 class="text-light user-email">
            student@gmail.com
          </h6>
        </div>
      </div>
      <div class="card bg-dark mb-2 students">
        <div class="card-header bg-dark p-2 pt-3">
          <h5 class="text-light user-name">
            Mr Student
          </h5>
        </div>
        <div class="card-body bg-secondary p-2 pb-4">
          <img
            src="assets/images/profile.jpg"
            alt=""
            class="profile-pic border border-dark"
          />
          <h6 class="text-light user-email">
            student@gmail.com
          </h6>
        </div>
      </div>
      <div class="card bg-dark mb-2 students">
        <div class="card-header bg-dark p-2 pt-3">
          <h5 class="text-light user-name">
            Mr Student
          </h5>
        </div>
        <div class="card-body bg-secondary p-2 pb-4">
          <img
            src="assets/images/profile.jpg"
            alt=""
            class="profile-pic border border-dark"
          />
          <h6 class="text-light user-email">
            student@gmail.com
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
