<app-top-nav title="Grades"> </app-top-nav>
<app-side-nav> </app-side-nav>
<div class="main">
  <div class="row">
    <div class="col-md-8">
      <input
        type="text"
        class="form-control bg-secondary mb-3 search-input"
        placeholder="Search Student name or Student ID ..."
        [(ngModel)]="search"
      />
      <hr />
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{
              active: selectedTerm == 'prelim',
              'text-light': selectedTerm != 'prelim'
            }"
            (click)="setSelectedTerm('prelim')"
            >Prelim</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{
              active: selectedTerm == 'midterm',
              'text-light': selectedTerm != 'midterm'
            }"
            (click)="setSelectedTerm('midterm')"
            >Midterm</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{
              active: selectedTerm == 'pre-finals',
              'text-light': selectedTerm != 'pre-finals'
            }"
            (click)="setSelectedTerm('pre-finals')"
            >Pre-Finals</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{
              active: selectedTerm == 'finals',
              'text-light': selectedTerm != 'finals'
            }"
            (click)="setSelectedTerm('finals')"
            >Finals</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{
              active: selectedTerm == 'total',
              'text-light': selectedTerm != 'total'
            }"
            (click)="setSelectedTerm('total')"
            >Total</a
          >
        </li>
      </ul>
      <div class="bg-light p-3">
        <div class="row">
          <div class="col">
            <table class="table table-light table-striped">
              <thead>
                <tr *ngIf="selectedTerm != 'total'">
                  <th class="text-center" scope="col">Student</th>
                  <th class="text-center" scope="col">Performance (60%)</th>
                  <th class="text-center" scope="col">Quiz (10%)</th>
                  <th class="text-center" scope="col">Exams (30%)</th>
                  <th class="text-center" scope="col">Total (100%)</th>
                  <th class="text-center" scope="col"></th>
                </tr>
                <tr *ngIf="selectedTerm == 'total'">
                  <th class="text-center" scope="col"></th>
                  <th class="text-center" scope="col" colspan="2">50%</th>
                  <th class="text-center" scope="col" colspan="2">50%</th>
                  <th class="text-center" scope="col">100%</th>
                  <th class="text-center" scope="col"></th>
                </tr>
                <tr *ngIf="selectedTerm == 'total'">
                  <th class="text-center" scope="col">Student</th>
                  <th class="text-center" scope="col">Prelim (30%)</th>
                  <th class="text-center" scope="col">Midterm (70%)</th>
                  <th class="text-center" scope="col">Pre-Finals (30%)</th>
                  <th class="text-center" scope="col">Finals (70%)</th>
                  <th class="text-center" scope="col">Final Grade</th>
                </tr>
              </thead>
              <tbody *ngIf="selectedTerm != 'total'">
                <tr *ngIf="loading">
                  <td colspan="13" class="text-center">
                    Loading...
                  </td>
                </tr>
                <tr *ngFor="let grade of grades | filter: search">
                  <td>
                    {{ grade.student.name.first }} {{ grade.student.name.last }}
                  </td>
                  <td class="text-center">
                    {{ grade.performance | number: '1.1-2' }}%
                  </td>
                  <td class="text-center">
                    {{ grade.quiz | number: '1.1-2' }}%
                  </td>
                  <td class="text-center">
                    {{ grade.exams | number: '1.1-2' }}%
                  </td>
                  <td class="text-center">
                    {{ grade.total | number: '1.1-2' }}%
                  </td>
                  <td class="text-center">
                    <button class="btn btn-sm btn-dark">VIEW</button>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="selectedTerm == 'total'">
                <tr *ngIf="loading">
                  <td colspan="13" class="text-center">
                    Loading...
                  </td>
                </tr>
                <tr *ngFor="let grade of grades | filter: search">
                  <td>
                    {{ grade.student.name.first }} {{ grade.student.name.last }}
                  </td>
                  <td class="text-center">
                    {{ grade.prelim | number: '1.1-2' }}%
                  </td>
                  <td class="text-center">
                    {{ grade.midterm | number: '1.1-2' }}%
                  </td>
                  <td class="text-center">
                    {{ grade.prefinals | number: '1.1-2' }}%
                  </td>
                  <td class="text-center">
                    {{ grade.finals | number: '1.1-2' }}%
                  </td>
                  <td class="text-center">
                    {{ grade.average | number: '1.1-2' }}%
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark">
        <div class="card-header text-light">
          <i class="fa fa-bell mr-2"></i>Notification
        </div>
        <div class="card-body p-0">
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
