<div class="logo">
  <svg height="35" width="15">
    <line
      x1="0"
      y1="0"
      x2="0"
      y2="50"
      style="stroke:rgb(24, 2, 2);stroke-width:20"
    />
  </svg>
  <svg height="35" width="15">
    <line
      x1="0"
      y1="0"
      x2="0"
      y2="50"
      style="stroke:rgb(24, 2, 2);stroke-width:20"
    />
  </svg>

  <svg height="35" width="15">
    <line
      x1="0"
      y1="0"
      x2="0"
      y2="50"
      style="stroke:rgb(24, 2, 2);stroke-width:20"
    />
  </svg>
</div>
<nav class="bg-danger top-nav">
  <h3 class="title">{{ title }}</h3>
</nav>
