.main {
  margin-left: 250px;
  padding: 80px 20px;
}
ul.list-group:after {
  clear: both !important;
  display: block !important;
  content: "" !important;
}

.list-group-item {
    float: left !important;
}
.profile-img {
  width: 70px;
}

.activities-img {
  width: 100%;
}

.overflow-wrap {
  overflow-wrap: break-word !important;
  white-space: pre-wrap;
}

.overflow-hidden {
  overflow: hidden;
}

.cursor {
  cursor: pointer;
}
