<app-top-nav title="Activities"> </app-top-nav>
<app-side-nav> </app-side-nav>
<div class="main">
  <div class="row">
    <div class="col-md-8">
      <!-- activity list -->
      <div class="activity-list" *ngIf="!loading">
        <div
          class="card p-3 btn text-left mb-2"
          *ngFor="let activity of activityList"
        >
          <div class="row">
            <div class="col-md-5">
              <img
                src="https://cdn-images-1.medium.com/max/800/0*ngXgBNNdx6iiWP8q.png"
                class="mr-3 activities-img"
                alt="..."
              />
            </div>
            <div class="col-md-7">
              <h5 class="overflow-wrap">{{ activity.title }}</h5>
              <p class="overflow-wrap">
                {{ activity.instruction }}
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-5">
              {{ activity.deadline.seconds * 1000 | date: 'dd MMM yyyy' }}
            </div>
            <div class="col-md-3">{{ activity.time_limit }} mins</div>
            <div class="col-md-4">
              Submits: {{ activity.submits ? activity.submits.length : 0 }}
            </div>
          </div>
        </div>
      </div>
      <!-- loading divs -->
      <div class="loading-div" *ngIf="loading">
        <div class="card p-3 btn text-left mb-2">
          <div class="row">
            <div class="col-md-5 overflow-hidden">
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  'border-radius': '0',
                  height: '90px',
                  width: '100%'
                }"
                appearance="circle"
              >
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-7 pt-2">
              <h5 class="overflow-wrap">
                <ngx-skeleton-loader count="1" appearance="line">
                </ngx-skeleton-loader>
              </h5>
              <p class="overflow-wrap">
                <ngx-skeleton-loader count="1" appearance="line">
                </ngx-skeleton-loader>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-5">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-3">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-4">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
          </div>
        </div>
        <div class="card p-3 btn text-left mb-2">
          <div class="row">
            <div class="col-md-5 overflow-hidden">
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  'border-radius': '0',
                  height: '90px',
                  width: '100%'
                }"
                appearance="circle"
              >
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-7 pt-2">
              <h5 class="overflow-wrap">
                <ngx-skeleton-loader count="1" appearance="line">
                </ngx-skeleton-loader>
              </h5>
              <p class="overflow-wrap">
                <ngx-skeleton-loader count="1" appearance="line">
                </ngx-skeleton-loader>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-5">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-3">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-4">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
          </div>
        </div>
        <div class="card p-3 btn text-left mb-2">
          <div class="row">
            <div class="col-md-5 overflow-hidden">
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  'border-radius': '0',
                  height: '90px',
                  width: '100%'
                }"
                appearance="circle"
              >
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-7 pt-2">
              <h5 class="overflow-wrap">
                <ngx-skeleton-loader count="1" appearance="line">
                </ngx-skeleton-loader>
              </h5>
              <p class="overflow-wrap">
                <ngx-skeleton-loader count="1" appearance="line">
                </ngx-skeleton-loader>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-5">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-3">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-4">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
          </div>
        </div>
      </div>

      <!-- no activity div -->
      <div
        class="no-activity card bg-secondary p-5"
        *ngIf="!loading && activityList.length < 1"
      >
        <h1 class="text-grey text-center">No Ongoing {{ activityType }}</h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark">
        <div class="card-header text-light">
          <i class="fa fa-bell mr-2"></i>Notification
        </div>
        <div class="card-body p-0">
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
