<app-top-nav title="Activities"> </app-top-nav>
<app-side-nav> </app-side-nav>
<div class="main">
  <div class="row">
    <div class="col-md-8">
      <div class="card p-3 btn text-left mb-2">
        <div class="row">
          <div class="col-md-5">
            <img
              src="https://cdn-images-1.medium.com/max/800/0*ngXgBNNdx6iiWP8q.png"
              class="mr-3 activities-img"
              alt="..."
            />
          </div>
          <div class="col-md-7">
            <h5 class="overflow-wrap">First periodical test lorem10</h5>
            <p class="overflow-wrap">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Similique pariatur dignissimos voluptate excepturi natus officia
              et, repudiandae alias voluptatem ab?
            </p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-5">08 Aug 2019</div>
          <div class="col-md-3">60 mins</div>
          <div class="col-md-4">Submits: 10</div>
        </div>
      </div>

      <div class="card p-3 btn text-left mb-2">
        <div class="row">
          <div class="col-md-5">
            <img
              src="https://cdn-images-1.medium.com/max/800/0*ngXgBNNdx6iiWP8q.png"
              class="mr-3 activities-img"
              alt="..."
            />
          </div>
          <div class="col-md-7">
            <h5 class="overflow-wrap">First periodical test lorem10</h5>
            <p class="overflow-wrap">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Similique pariatur dignissimos voluptate excepturi natus officia
              et, repudiandae alias voluptatem ab?
            </p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-5">08 Aug 2019</div>
          <div class="col-md-3">60 mins</div>
          <div class="col-md-4">Submits: 10</div>
        </div>
      </div>

      <div class="card p-3 btn text-left mb-2">
        <div class="row">
          <div class="col-md-5">
            <img
              src="https://cdn-images-1.medium.com/max/800/0*ngXgBNNdx6iiWP8q.png"
              class="mr-3 activities-img"
              alt="..."
            />
          </div>
          <div class="col-md-7">
            <h5 class="overflow-wrap">First periodical test lorem10</h5>
            <p class="overflow-wrap">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Similique pariatur dignissimos voluptate excepturi natus officia
              et, repudiandae alias voluptatem ab?
            </p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-5">08 Aug 2019</div>
          <div class="col-md-3">60 mins</div>
          <div class="col-md-4">Submits: 10</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark">
        <div class="card-header text-light">
          <i class="fa fa-bell mr-2"></i>Notification
        </div>
        <div class="card-body p-0">
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
