<app-top-nav
  [title]="
    'Activities - ' +
    activityType.charAt(0).toUpperCase() +
    activityType.slice(1)
  "
>
</app-top-nav>
<app-side-nav> </app-side-nav>
<div class="main">
  <div class="row">
    <div class="col-md-4" *ngIf="!isOnView">
      <div class="card-body p-0">
        <ul class="list-group">
          <li
            class="list-group-item cursor"
            (click)="!loading ? setSelectedTerm('prelim') : ''"
            [ngClass]="{ 'bg-primary text-dark': term == 'prelim' }"
          >
            Prelim
          </li>
          <li
            class="list-group-item cursor"
            (click)="!loading ? setSelectedTerm('midterm') : ''"
            [ngClass]="{ 'bg-primary text-dark': term == 'midterm' }"
          >
            Midterm
          </li>
          <li
            class="list-group-item cursor"
            (click)="!loading ? setSelectedTerm('pre-finals') : ''"
            [ngClass]="{ 'bg-primary text-dark': term == 'pre-finals' }"
          >
            Pre-Finals
          </li>
          <li
            class="list-group-item cursor"
            (click)="!loading ? setSelectedTerm('finals') : ''"
            [ngClass]="{ 'bg-primary text-dark': term == 'finals' }"
          >
            Finals
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-10" *ngIf="!isOnView">
      <!-- activity list -->
      <div class="activity-list" *ngIf="!loading">
        <div
          class="card p-3 btn text-left mb-2"
          *ngFor="let activity of activityList"
          (click)="setSelectedActivity(activity)"
        >
          <div class="row">
            <div class="col-md-5">
              <img
                src="https://cdn-images-1.medium.com/max/800/0*ngXgBNNdx6iiWP8q.png"
                class="mr-3 activities-img"
                alt="..."
              />
            </div>
            <div class="col-md-7">
              <h5 class="overflow-wrap">{{ activity.title }}</h5>
              <p class="overflow-wrap">
                {{ activity.instruction }}
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-5">
              <span class="text-capitalize">{{ activity.type }}</span> |
              {{ activity.deadline.seconds * 1000 | date: 'dd MMM yyyy' }}
            </div>
            <div class="col-md-3">{{ activity.time_limit }} mins</div>
            <div class="col-md-4">
              Submits: {{ activity.submits ? activity.submits.length : 0 }}
            </div>
          </div>
        </div>
      </div>
      <!-- loading divs -->
      <div class="loading-div" *ngIf="loading">
        <div class="card p-3 btn text-left mb-2">
          <div class="row">
            <div class="col-md-5 overflow-hidden">
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  'border-radius': '0',
                  height: '90px',
                  width: '100%'
                }"
                appearance="circle"
              >
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-7 pt-2">
              <h5 class="overflow-wrap">
                <ngx-skeleton-loader count="1" appearance="line">
                </ngx-skeleton-loader>
              </h5>
              <p class="overflow-wrap">
                <ngx-skeleton-loader count="1" appearance="line">
                </ngx-skeleton-loader>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-5">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-3">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-4">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
          </div>
        </div>
        <div class="card p-3 btn text-left mb-2">
          <div class="row">
            <div class="col-md-5 overflow-hidden">
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  'border-radius': '0',
                  height: '90px',
                  width: '100%'
                }"
                appearance="circle"
              >
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-7 pt-2">
              <h5 class="overflow-wrap">
                <ngx-skeleton-loader count="1" appearance="line">
                </ngx-skeleton-loader>
              </h5>
              <p class="overflow-wrap">
                <ngx-skeleton-loader count="1" appearance="line">
                </ngx-skeleton-loader>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-5">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-3">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-4">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
          </div>
        </div>
        <div class="card p-3 btn text-left mb-2">
          <div class="row">
            <div class="col-md-5 overflow-hidden">
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  'border-radius': '0',
                  height: '90px',
                  width: '100%'
                }"
                appearance="circle"
              >
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-7 pt-2">
              <h5 class="overflow-wrap">
                <ngx-skeleton-loader count="1" appearance="line">
                </ngx-skeleton-loader>
              </h5>
              <p class="overflow-wrap">
                <ngx-skeleton-loader count="1" appearance="line">
                </ngx-skeleton-loader>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-5">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-3">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
            <div class="col-md-4">
              <ngx-skeleton-loader count="1" appearance="line">
              </ngx-skeleton-loader>
            </div>
          </div>
        </div>
      </div>
      <!-- no activity div -->
      <div
        class="no-activity rounded bg-light p-4 "
        *ngIf="!loading && activityList.length < 1"
      >
        <p class="text-secondary text-center m-0">
          No {{ activityType }} on {{ term }}
        </p>
      </div>
    </div>
    <div class="col-md-10" *ngIf="isOnView">
      <div *ngIf="!loading">
        <app-view-activity
          [activity]="selectedActivity"
          [submits]="submitList"
          [selectedClass]="selectedClass"
        >
        </app-view-activity
        ><button (click)="clearSelectedActivity()" class="btn btn-dark w-100">
          Back
        </button>
      </div>
    </div>
    <div class="col-md-4" *ngIf="isOnView">
      <div class="card bg-primary">
        <div class="card-header text-dark">
          <i class="fa fa-calendar-check-o fa-fw" aria-hidden="true"></i>
          Submits
        </div>
        <div class="card-body p-0">
          <ul class="list-group">
            <li
              class="list-group-item text-secondary"
              *ngIf="submitList?.length == 0"
            >
              No Submissions yet
            </li>
            <li
              class="list-group-item cursor"
              *ngFor="let submit of submitList"
            >
              {{ submit.student.student_number }} |
              {{ submit.student.name.first }} {{ submit.student.name.last }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
