<div class="">
  <div class="card bg-dark w-100 mb-2">
    <div class="card-header text-light">
      <i class="icon ion-ios-people mr-2"></i> Registered Parents
    </div>
    <div class="card-body p-0">
      <ul class="list-group">
        <li *ngIf="parentList.length == 0" class="list-group-item text-center">
          No registered Parent
        </li>
        <li class="list-group-item" *ngFor="let parent of parentList">
          {{ parent.name.first }} {{ parent.name.last }}
          <br />
          <span class="text-secondary">{{ parent.email }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="card bg-dark mb-2">
    <div class="card-header bg-danger px-3 px-2 text-light text-center">
      <span>Register Student Parent </span>
    </div>
    <div class="card-body bg-dark p-2 pb-4">
      <div class="form-row mb-3">
        <div class="col-md-5">
          <label class="text-light">First Name</label>
          <input
            type="text"
            class="form-control text-catitalize"
            [(ngModel)]="first"
          />
        </div>
        <div class="col-md-5">
          <label class="text-light">Last Name</label>
          <input
            type="text"
            class="form-control text-catitalize"
            [(ngModel)]="last"
          />
        </div>
        <div class="col-md-2">
          <label class="text-light">M.I.</label>
          <input
            type="text"
            class="form-control text-catitalize"
            [(ngModel)]="mi"
          />
        </div>
      </div>
      <div class="form-group">
        <label class="text-light">Email</label>
        <input
          type="email"
          class="form-control text-catitalize"
          [(ngModel)]="email"
        />
      </div>
      <div class="form-group">
        <label class="text-light">Password</label>
        <input
          type="password"
          class="form-control text-catitalize"
          [(ngModel)]="password"
        />
      </div>
      <div class="form-group">
        <label class="text-light">Confirm</label>
        <input
          type="password"
          class="form-control text-catitalize"
          [(ngModel)]="password2"
        />
      </div>
    </div>
  </div>
  <button
    class="btn btn-dark border border-danger w-100 mb-2"
    (click)="registerParent()"
  >
    Register
  </button>
</div>
