/* You can add global styles to this file, and also import other style files */
$ionicons-font-path: '~ionicons/dist/fonts';
@import '~ionicons/dist/scss/ionicons.scss';
@import '~ngx-toastr/toastr';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Monda, 'Roboto', sans-serif;
}
