/* You can add global styles to this file, and also import other style files */
$ionicons-font-path: '~ionicons/dist/fonts';
@import '~ionicons/dist/scss/ionicons.scss';
@import '~ngx-toastr/toastr';

html,
body {
  height: 100%;
  font-family: 'Bahnschrift Light';
}

body {
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.text-red {
  color: #ff0800 !important;
}

.text-blue {
  color: #3f90ff !important;
}

.text-green {
  color: #0ec254 !important;
}

.text-orange {
  color: #ff790b !important;
}

.text-yellow {
  color: #ffee00 !important;
}

.text-grey {
  color: #acb0bd !important;
}

.bg-red {
  background-color: #ff0800 !important;
}

.bg-blue {
  background-color: #3f90ff !important;
}

.bg-green {
  background-color: #0ec254 !important;
}

.bg-orange {
  background-color: #ff790b !important;
}

.bg-yellow {
  background-color: #ffee00 !important;
}

.bg-grey {
  background-color: #acb0bd !important;
}
.bg-side {
  background-color: #73b6ff !important;
  text-shadow: 1px 1px grey;
}
.bg-aqua {
  background-color: aqua !important;
}
.bg-lime {
  background-color: lime !important;
}
.bg-fuchsia {
  background-color: fuchsia !important;
}
.bg-teal {
  background-color: teal !important;
}

.text-aqua {
  color: aqua !important;
}
.text-lime {
  color: lime !important;
}
.text-fuchsia {
  color: fuchsia !important;
}
.text-teal {
  color: teal !important;
}
