.main {
  margin-left: 250px;
  padding: 80px 20px;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 50px;
  transform: translateX(-50%);
}

.user-name,
.user-email {
  margin: 0 120px;
}

.upload-btn {
  position: absolute;
  top: 65px;
  left: 65px;
  z-index: 1;
}
